[2019-07-11 16:11] chraibi opened #8 "Adjust relative paths to project like in JPScore"
In Gitlab by @chraibi on Feb 19, 2014, 22:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/1)]

The paths in the project should be relative to the current location of the inifile

[2019-07-11 16:11] chraibi commented on #8
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:12] chraibi commented on #8
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by chraibi on 10 Nov 2014, 15:57_

---

We need that now..

[2019-07-11 16:12] #8 closed

[2019-07-11 16:12] chraibi opened #9 "option to read txt files with tab and space"
In Gitlab by @chraibi on Jun 16, 2014, 10:37 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/2)]

The parser only supports tab for now.

[2019-07-11 16:12] chraibi commented on #9
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:12] chraibi commented on #9
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by zhang on 19 Nov 2014, 10:23_

---

Now it works (Note that it should be a Tab between each column of the trajectory data. It fails if it is a space) @piccolodream

[2019-07-11 16:12] chraibi commented on #9
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by chraibi on 19 Nov 2014, 13:58_

---

@zhang: Why only tabs? Also spaces should be supported.

[2019-07-11 16:12] #9 closed

[2019-07-11 16:12] chraibi opened #10 "definition of Voronoi density and velocity regarding to cutting by a standard circle or not"
In Gitlab by @chraibi on Oct 29, 2014, 15:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/4)]

In current definition, it is supposed that the measurement area is fully occupied by Voronoi cells. However, at very low density situation the results could be different if we cut Voronoi cells by a standard circle. We should think about it and discuss how to deal with this  i

[2019-07-11 16:12] chraibi commented on #10
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:12] #10 closed

[2019-07-11 16:12] chraibi opened #11 "Script for performing all steps at once"
In Gitlab by @chraibi on Oct 30, 2014, 10:21 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/6)]

shell script or
pytthon script

or in the c++

[2019-07-11 16:12] chraibi commented on #11
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:12] chraibi commented on #11
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by OSchmidts on 29 Jan 2015, 19:10_

---

i think this is done for the moment but needs some improvement in the future. If @zhang is ok with the actual solution we can close this ticket

[2019-07-11 16:12] #11 closed

[2019-07-11 16:12] chraibi opened #12 "automatically identify the steady state"
In Gitlab by @chraibi on Oct 30, 2014, 10:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/7)]

Way to automatically identify the steady

[2019-07-11 16:12] chraibi commented on #12
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:12] #12 closed

[2019-07-11 16:12] chraibi opened #13 "Make Utest"
In Gitlab by @chraibi on Nov 10, 2014, 15:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/9)]

CDash like

[2019-07-11 16:13] chraibi commented on #13
In Gitlab by @chraibi on Mar 23, 2019, 00:51

duplicate #102

[2019-07-11 16:13] chraibi commented on #13
In Gitlab by @chraibi on Mar 23, 2019, 00:51

closed

[2019-07-11 16:13] #13 closed

[2019-07-11 16:13] chraibi opened #14 "Relative paths in ini-file"
In Gitlab by @chraibi on Nov 10, 2014, 16:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/10)]

null

[2019-07-11 16:13] chraibi commented on #14
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:13] #14 closed

[2019-07-11 16:13] chraibi opened #15 "Add test FD"
In Gitlab by @chraibi on Nov 10, 2014, 17:02 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/11)]

Compare the FD of jpsreport with a reference result file.

[2019-07-11 16:13] chraibi commented on #15
In Gitlab by @chraibi on Mar 23, 2019, 04:57

related to #102

[2019-07-11 16:13] chraibi opened #16 "Both relative path and absolute path should be used for loading trajectory file"
In Gitlab by @chraibi on Nov 19, 2014, 11:23 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/13)]

can be necessary if you have the traejctories on an external drive ?

[2019-07-11 16:13] chraibi commented on #16
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:13] chraibi commented on #16
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by kemloh on 14 Jan 2015, 17:50_

---

mentioned in commit eb3ea6

[2019-07-11 16:13] #16 closed

[2019-07-11 16:13] chraibi opened #17 "invalid operands to binary expression"
In Gitlab by @chraibi on Nov 20, 2014, 23:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/14)]

while compiling with 'make -f Makefile.cmake' I got the following response (no executable was built):

mkdir bin
mkdir bin/release
mkdir bin/debug
( cd bin/release && cmake -DCMAKE_BUILD_TYPE=release ../.. && /Applications/Xcode.app/Contents/Developer/usr/bin/make --no-print-

[2019-07-11 16:13] chraibi commented on #17
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:13] chraibi commented on #17
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by kemloh on 21 Nov 2014, 09:32_

---

mentioned in commit 6e5afd

[2019-07-11 16:13] chraibi commented on #17
In Gitlab by @chraibi on Sep 29, 2017, 21:04

mentioned in commit e0deda7948f8217c6cd5ba65d3332a528edec424

[2019-07-11 16:13] #17 closed

[2019-07-11 16:13] chraibi opened #18 "xsd validation files"
In Gitlab by @chraibi on Nov 27, 2014, 17:54 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/15)]

add an xsd validation file for the ini.xml file.
The geometry should be validated by the jpscore

[2019-07-11 16:13] chraibi commented on #18
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 16:14] chraibi commented on #18
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by zhang on 15 Jan 2015, 15:20_

---

I have added and validated the .xsd file. Could you please take a look! @piccolodream

[2019-07-11 16:14] #18 closed

[2019-07-11 16:14] chraibi opened #19 "add a sentence to check whether the trajecotory file format is the same as that given by the file name name"
In Gitlab by @chraibi on Jan 16, 2015, 10:19 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/22)]

In inifile trajectory name and format both include format! sometimes it will be given in different way.

[2019-07-11 16:14] chraibi commented on #19
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:14] chraibi commented on #19
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by kemloh on 19 Jan 2015, 07:48_

---

mentioned in commit 2c75ef

[2019-07-11 16:14] chraibi commented on #19
In Gitlab by @chraibi on Sep 29, 2017, 21:04

mentioned in commit a8ff6b2bee9b1fe0fb65d6ed78fab206bf5ecb89

[2019-07-11 16:14] #19 closed

[2019-07-11 16:14] chraibi opened #20 "avoid blank in the path for the input or output files"
In Gitlab by @chraibi on Jan 29, 2015, 11:18 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/23)]

For the path to save or import files, the blank should be avoided. Otherwise python scripts doesn't work.

[2019-07-11 16:14] chraibi commented on #20
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:14] #20 closed

[2019-07-11 16:14] chraibi opened #21 "Handling pedestrians that are not inside the geometry"
In Gitlab by @chraibi on Mar 20, 2015, 17:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/24)]

jpsreport will be more usable,
if pedestrians outiside the geometry are ignored,
instead of interrupting the analysis.

It is easy to meet such requirements for experiment data, but for simulation data, not really usable.

[2019-07-11 16:14] chraibi commented on #21
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:14] chraibi commented on #21
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 11 Jun 2015, 10:49_

---

finish

[2019-07-11 16:14] #21 closed

[2019-07-11 16:15] chraibi opened #22 "actualize xsd files"
In Gitlab by @chraibi on Jun 8, 2015, 13:15 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/27)]

there are new options for inifiles and geometry files

[2019-07-11 16:15] chraibi commented on #22
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:15] #22 closed

[2019-07-11 16:15] chraibi opened #23 "Increment version of files to v0.7"
In Gitlab by @chraibi on Jun 8, 2015, 14:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/28)]

null

[2019-07-11 16:15] chraibi commented on #23
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:15] #23 closed

[2019-07-11 16:15] chraibi opened #24 "use the latest geometry lib from jpscore"
In Gitlab by @chraibi on Jun 8, 2015, 14:49 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/29)]

null

[2019-07-11 16:15] chraibi commented on #24
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:15] #24 closed

[2019-07-11 16:15] chraibi opened #25 "Compile issue Suse Linux"
In Gitlab by @chraibi on Jul 8, 2015, 11:18 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/30)]

[code]

how can i solve this?

[2019-07-11 16:15] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:15] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 08 Jul 2015, 09:21_

---

 :cool:  error!

compiler version?
Can you compile anything at all?

[2019-07-11 16:15] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by kemloh on 08 Jul 2015, 09:27_

---

It is building on Ubuntu 14.04
we need more test machines/os (win, lin, os10)

[2019-07-11 16:15] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by OSchmidts on 08 Jul 2015, 09:28_

---

g++ 4.8.1
i can compile jpscore with no problem

[2019-07-11 16:15] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by OSchmidts on 08 Jul 2015, 09:35_

---

on osx everything works fine

[2019-07-11 16:15] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 26 Dec 2015, 13:06_

---

@OSchmidts is this still happening?

[2019-07-11 16:15] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 26 Dec 2015, 13:06_

---

anguished

[2019-07-11 16:15] chraibi commented on #25
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by OSchmidts on 05 Jan 2016, 13:10_

---

it is not happening anymore

[2019-07-11 16:15] #25 closed

[2019-07-11 16:16] chraibi opened #26 "fluctuation of cusum statistics around detection parameter"
In Gitlab by @chraibi on Jul 19, 2015, 18:14 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/34)]

![image](https://cst.version.fz-juelich.de/jupedsim/jpsreporthttps://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/a99222f77be3637f2463cea58b08e019/image.png)

[2019-07-11 16:16] chraibi commented on #26
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:16] #26 closed

[2019-07-11 16:16] chraibi opened #27 "Clean up Inifiles"
In Gitlab by @chraibi on Dec 14, 2015, 15:05 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/41)]

All inifiles in v0.8 should be running.

Please fix the ones not running or if you can't mention here which ones.

[2019-07-11 16:16] chraibi commented on #27
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 16:16] #27 closed

[2019-07-11 16:16] chraibi opened #28 "Steadystate.py"
In Gitlab by @chraibi on Feb 11, 2016, 15:33 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/46)]

I found the output results gave the final steadystate lines of the file, not the real frame time of the file.

[2019-07-11 16:16] chraibi commented on #28
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 16:16] chraibi commented on #28
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by caoshuchao on 17 Feb 2016, 13:05_

---

mentioned in commit ef6c7a07f9d83c85970d5a9bb07cc8c4d34574ec

[2019-07-11 16:16] chraibi commented on #28
In Gitlab by @chraibi on Sep 29, 2017, 21:04

mentioned in commit 1919d9f4a8eaa4126a872eb798d7d5af768c5ae4

[2019-07-11 16:16] chraibi commented on #28
In Gitlab by @chraibi on Sep 29, 2017, 21:04

mentioned in commit 919af89d0b4bd0ba8485ae4212dcb41b1e04f97b

[2019-07-11 16:17] #28 closed

[2019-07-11 16:17] chraibi opened #29 "Compile with Visual Studio"
In Gitlab by @chraibi on Feb 11, 2016, 17:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/47)]

Does not compile:

- in ArgumentParser.cpp these includes are not OK
    - #include <getopt.h>: Not needed?
    - #include <unistd.h>: Not needed?
    - #include <dirent.h>: **Needed**. Solution is given [here](http://www.softagalleria.net/dirent.php)

- Change *and*, *or* an

[2019-07-11 16:17] chraibi commented on #29
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 16:17] #29 closed

[2019-07-11 16:17] chraibi opened #30 "JPSreport v0.8 crash by calculating voroni diagrams for a geometry with different levels"
In Gitlab by @chraibi on Apr 5, 2016, 14:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/52)]

1) by analyzing the trajectories of the subway station Osloerstr. an error occurred with overlapping trajectories
- ![ID_6_Traj_Grafik](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/80bb6e3efa779705d68d3c3f1cde62e9/ID_6_Traj_Grafik.jpg)
2) with JPSreport v0.6

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by b.schroeder on 06 Apr 2016, 08:08_

---

@zhang can you reproduce the problem?

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 06 Apr 2016, 17:01_

---

@schroederbenjamin No! with the current settings in the inifiles, I don't get error!

By the way, I don't really understand the second point and third point. Maybe we can discuss tomorrow.

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by b.schroeder on 06 Apr 2016, 17:04_

---

yes let's do so

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 08 Apr 2016, 09:06_

---

@schroederbenjamin @rob ,I have already changed the code for these points. Can you please supply a trajectory file with less pedestrians in the scenario so that I can test the correctness of the code surely?  Please also prepare a inifile as the attached sample file.
Thanks!
[ini_KO_240_050_240.xm

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by rob on 08 Apr 2016, 17:53_

---

@zhang @schroederbenjamin

i created a new traj-file with about 200 ped:
[UBF_traj.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/8c0ea9e1cd8c668940930bf2dc5f406c/UBF_traj.xml)

also prepared a report ini-file with one measurement area:
[ini_KO_240_050_240.xml](/uploads/520f4e6

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 11 Apr 2016, 16:52_

---

@schroederbenjamin @rob I pushed the new code, please check it and test the result.

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 29 Apr 2016, 16:26_

---

@schroederbenjamin @rob problem solved?

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by b.schroeder on 01 May 2016, 13:53_

---

As far as I know, the issue is still present when plotting voronoi diagrams. right @zhang ?

[2019-07-11 16:17] chraibi commented on #30
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 11 May 2016, 14:58_

---

@schroederbenjamin @chraibi Now z position is needed in inifile to specify the location of measurement area. And only trajectories with the same z-pos will be considered in calculation.

[2019-07-11 16:17] #30 closed

[2019-07-11 16:18] chraibi opened #31 "Simulation data in TXT format"
In Gitlab by @chraibi on Aug 29, 2016, 10:19 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/54)]

`JPSreport` can not use simulation data from `jpscore` in TXT format.

[2019-07-11 16:18] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 16:18] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 01 Sep 2016, 08:46_

---

[TXT-file](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/ef478bf36617d17a83d190d537c6debe/trajectorien_bottleneck.xml)
[1.2_bottleneck.xml](/uploads/c211371a409656952a506518fc479962/1.2_bottleneck.xml)
[XML-file](/uploads/788e430c76d1a5ebb11c5361d2610dbc/trajectorien_bottleneck

[2019-07-11 16:18] chraibi commented on #31
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 01 Sep 2016, 16:37_

---

mentioned in commit 614c695ad57e236d5b0db64580305645359d5110

[2019-07-11 16:18] chraibi commented on #31
In Gitlab by @zhangjun714 on Sep 29, 2017, 19:50

mentioned in commit bd2170c32f59a201634ea83f2135d61b400b1bd0

[2019-07-11 16:18] chraibi commented on #31
In Gitlab by @zhangjun714 on Sep 29, 2017, 21:04

mentioned in commit 4238ef5b57d434c4065402ca254d1fc5575b2399

[2019-07-11 16:18] #31 closed

[2019-07-11 16:18] chraibi opened #32 "In "Compile JPSreport in Linux" Wiki"
In Gitlab by @chraibi on Sep 7, 2016, 11:55 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/55)]

I compile the project in the directory /JPSreport/build , the after I type cmake .. , when I type make ., nothing happend, I think it should input make when in the directory /JPSreport/build.

[2019-07-11 16:18] chraibi commented on #32
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 07 Sep 2016, 13:29_

---

- How did you download jpsreport?
- What branch are you using
- Could you please upload here a screenshot for your terminal after you type `cmake ..`?

[2019-07-11 16:18] chraibi commented on #32
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by iveryoung on 08 Sep 2016, 00:41_

---

![image](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/622be6fbb8035fd263fc99c6e3cd4329/image.png)

[2019-07-11 16:18] chraibi commented on #32
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by iveryoung on 08 Sep 2016, 00:46_

---

I don't think there is a dot behind the command make when in the directory build, I don't know whether it's my own problem.

[2019-07-11 16:18] chraibi commented on #32
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 08 Sep 2016, 06:54_

---

From the screenshot it looks like:

- You use a very old version.
- Everything compiles fine. Check in the directory `JPSreport/bin/`. You should find the executable their.

Besides, I would recommend to update your code to the latest version:

- in `JPSreport`
- `git pull` to update
- and then

[2019-07-11 16:18] chraibi commented on #32
In Gitlab by @chraibi on Feb 21, 2017, 14:03

closed

[2019-07-11 16:18] #32 closed

[2019-07-11 16:18] chraibi opened #33 "Write unit test"
In Gitlab by @chraibi on Sep 22, 2016, 12:24 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/58)]

Write a python script that reproduces Figures **5** and **6** in [Transitions in pedestrian fundamental diagrams of straight corridors and T-junctions](http://juser.fz-juelich.de/record/16126).

[2019-07-11 16:18] chraibi commented on #33
In Gitlab by @chraibi on Nov 11, 2018, 10:40

unassigned @zhangjun714

[2019-07-11 16:18] chraibi commented on #33
In Gitlab by @chraibi on Mar 23, 2019, 00:52

duplicate #102

[2019-07-11 16:18] chraibi commented on #33
In Gitlab by @chraibi on Mar 23, 2019, 00:52

closed

[2019-07-11 16:18] #33 closed

[2019-07-11 16:19] chraibi opened #34 "Working on JuPedSim for my student"
In Gitlab by @chraibi on Oct 6, 2016, 15:45 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/59)]

Hey Mohcine. A problem is follow: I have a student who want to code in `JuPedSim`.

I worked in `JuPedSim` last time more than year ago.
It was through Eclipse and all settings of Eclipse was done bu Ulrich.

The problem is that we can't start to work because we can't run `JPS

[2019-07-11 16:19] chraibi commented on #34
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 16:19] chraibi commented on #34
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 06 Oct 2016, 14:43_

---

for JPSreport you can check this [page](https://cst.version.fz-juelich.de/jupedsim/jpsreport/wikis/docs/running/Build_in_Eclipse_Platform)

[2019-07-11 16:19] chraibi commented on #34
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by Shikhalev on 06 Oct 2016, 14:45_

---

Ok, but what's about JPScore, how can i do that in Clion?

[2019-07-11 16:19] chraibi commented on #34
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by Shikhalev on 06 Oct 2016, 14:52_

---

By the way, operation system is OSX

[2019-07-11 16:19] chraibi commented on #34
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 07 Oct 2016, 19:30_

---

Please check this [tutorial](https://youtu.be/Achsd2EpJbI).

[2019-07-11 16:19] #34 closed

[2019-07-11 16:19] chraibi opened #35 ""Root element value is not 'JPSreport'.""
In Gitlab by @yang2 on Feb 20, 2017, 06:12 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/60)]

![image](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/c3d202d58c865277d0d344107c1d2efa/image.png)

[2019-07-11 16:19] chraibi commented on #35
In Gitlab by @chraibi on Feb 20, 2017, 10:48

Perhaps you are trying to use a `jpscore` inifile for `jpsreport`?

[2019-07-11 16:19] chraibi commented on #35
In Gitlab by @yang2 on Feb 22, 2017, 06:59

Oh, yeah, it's the first time I using JPSreport, I thought they are the same. So there's no JPSreport "inifile" in demos？ And I need to write them first?

[2019-07-11 16:19] chraibi commented on #35
In Gitlab by @chraibi on Feb 22, 2017, 09:02

Have a look in the [demo](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/tree/master/demos) directory.

[2019-07-11 16:19] chraibi commented on #35
In Gitlab by @chraibi on Feb 22, 2017, 09:02

closed

[2019-07-11 16:19] #35 closed

[2019-07-11 16:19] chraibi opened #36 "Empty files after measurements"
In Gitlab by @chraibi on Feb 22, 2017, 09:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/61)]

Errors and relevant files and screenshots are  [here](https://fh-muenster.sciebo.de/index.php/s/Rz382dw7myUfodk)

[2019-07-11 16:19] chraibi commented on #36
In Gitlab by @chraibi on Sep 29, 2017, 17:02

files are not available. Unless, someone has this problem, this should be closed.

[2019-07-11 16:19] chraibi commented on #36
In Gitlab by @chraibi on Sep 29, 2017, 17:02

closed

[2019-07-11 16:19] #36 closed

[2019-07-11 16:19] chraibi opened #37 "Review Methode A"
In Gitlab by @chraibi on Feb 22, 2017, 15:11 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/62)]

Trying to understand this method.

I think there may be some problems. Please confirm:

- [ ] `XInFrame` in this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/master/methods/Method_A.cpp#L89)   is calculated but not used.
- [ ] `YInFrame` in this [line](

[2019-07-11 16:19] chraibi commented on #37
In Gitlab by @chraibi on Feb 22, 2017, 15:11

marked the task **`XInFrame` in this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/master/methods/Method_A.cpp#L89)   is calculated by not used.** as completed

[2019-07-11 16:19] chraibi commented on #37
In Gitlab by @chraibi on Feb 22, 2017, 15:11

marked the task **`XInFrame` in this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/master/methods/Method_A.cpp#L89)   is calculated by not used.** as incomplete

[2019-07-11 16:19] chraibi commented on #37
In Gitlab by @chraibi on Oct 5, 2017, 16:15

changed the description

[2019-07-11 16:20] chraibi commented on #37
In Gitlab by @chraibi on Mar 22, 2018, 18:03

changed the description

[2019-07-11 16:20] chraibi opened #38 "Velocity settings"
In Gitlab by @winkens1 on Sep 28, 2017, 11:21 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/64)]

check using x-component and y-component

[2019-07-11 16:20] chraibi commented on #38
In Gitlab by @chraibi on Sep 29, 2017, 16:59

use the attribute `set_movement_direction` as follows:

[code]

Possible values are:

- X+
- X-
- y+
- Y-
- None (both directions)

See also [documentation](http://www.jupedsim.org/jpsreport/2016-11-01-inifile) for other options.

[2019-07-11 16:20] chraibi commented on #38
In Gitlab by @chraibi on Sep 29, 2017, 16:59

closed

[2019-07-11 16:20] #38 closed

[2019-07-11 16:20] chraibi opened #39 "Check methode C"
In Gitlab by @chraibi on Oct 5, 2017, 16:16 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/65)]

too slow ...

[2019-07-11 16:20] chraibi commented on #39
In Gitlab by @chraibi on Mar 23, 2019, 04:51

unit tests in #102

[2019-07-11 16:20] chraibi commented on #39
In Gitlab by @gjaeger on Jun 14, 2019, 15:42

Suggestion: we close this issue and continue the work in #102.

[2019-07-11 16:20] chraibi commented on #39
In Gitlab by @gjaeger on Jun 17, 2019, 11:08

closed after meeting on June 17.

[2019-07-11 16:20] chraibi commented on #39
In Gitlab by @gjaeger on Jun 17, 2019, 11:08

closed

[2019-07-11 16:20] chraibi opened #40 "Methode B"
In Gitlab by @chraibi on Oct 5, 2017, 16:16 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/66)]

Make plot possible.

[2019-07-11 16:20] chraibi commented on #40
In Gitlab by @gjaeger on Jun 14, 2019, 15:43

Suggestion: we close this issue and continue the work in #102.

[2019-07-11 16:20] chraibi commented on #40
In Gitlab by @gjaeger on Jun 17, 2019, 11:08

closed after meeting on June 17.

[2019-07-11 16:20] chraibi commented on #40
In Gitlab by @gjaeger on Jun 17, 2019, 11:08

closed

[2019-07-11 16:20] #40 closed

[2019-07-11 16:20] chraibi opened #41 "check start and stop frame arguments"
In Gitlab by @chraibi on Oct 5, 2017, 16:37 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/67)]

[2019-07-11 16:20] chraibi commented on #41
In Gitlab by @chraibi on Mar 1, 2018, 22:58

closed via commit bf064d1569da3a8ac4467b6cecb33548a33ff8c4

[2019-07-11 16:20] chraibi commented on #41
In Gitlab by @chraibi on May 15, 2018, 19:48

mentioned in commit bf064d1569da3a8ac4467b6cecb33548a33ff8c4

[2019-07-11 16:20] #41 closed

[2019-07-11 16:21] chraibi opened #42 "Methode B (tatsächlich zurückgelegte Strecke in [m] und Geschwindigkeit [m/s])"
In Gitlab by @ghost on Oct 13, 2017, 08:55 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/68)]

In Methode B wird folgende Berechnung zugrunde gelegt:
Delta t = 183 (frames) ----> v = 8 * 1 / 183 = 0.043 m/s.

Könnten Sei vielleicht Methode B so ändern, dass der tatsächlich zurückgelegter Weg berücksichtigt wird?

Methode B, Rückgabe tatsächlich zurückgelegte Strecke in [

[2019-07-11 16:21] chraibi opened #43 "Compilating current JPSReport failed"
In Gitlab by @rummeny1 on Feb 14, 2018, 14:29 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/69)]

Hi,

i got a problem with compiling the current version of [JPSReport](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport).

I tried both ways with CLion and Visual Studio 2017 as suggested in the [documentation](http://www.jupedsim.org/jpsreport/2016-11-01-quickstart.h

[2019-07-11 16:21] chraibi commented on #43
In Gitlab by @chraibi on Feb 14, 2018, 15:07

mentioned in commit 6054582a95f7867158a7c479cbcf00cee63fcedf

[2019-07-11 16:21] chraibi commented on #43
In Gitlab by @chraibi on Feb 14, 2018, 15:07

David try again after a `git pull`.

Remove the content of `build` first, so that you can get a clean build
`(cd build && rm -rf *)`

[2019-07-11 16:21] chraibi commented on #43
In Gitlab by @rummeny1 on Feb 14, 2018, 15:30

Thanks for the quick response - the compiling did work now and produces a .exe-file to run :) So that's on the upside..
On the negative side is, that the compiled program does load an ini file and also a trajectory file. Problem is, that it is running for about 10 minutes now and did only produce a .dat-file for the first second - so it's taking very

[2019-07-11 16:21] chraibi commented on #43
In Gitlab by @chraibi on Feb 14, 2018, 15:34

well, this may depend on your machine (could be very old :smiley:  )

It may depend on the size of the trajectories as well as the configs in the inifile.

You need to show an example, otherwise we can not know.

[2019-07-11 16:21] chraibi commented on #43
In Gitlab by @rummeny1 on Feb 14, 2018, 15:44

Hmm... I think it's no problem of the computer. A Ryzen7 1700 Octa-Core, 16Gb RAM 3200 Mhz and fast SSDs shouldn't be the problem.

The trajectories and ini-file is the same I send you on monday. I've attached them as well here.
Is it possible, that maybe the program doesn't use multi threading or so? It only takes about 6% CPU-Load and only 45 MB RAM

[2019-07-11 16:21] chraibi commented on #43
In Gitlab by @chraibi on Feb 14, 2018, 15:55

The ploting of profiles is of course very slow. This is an issue related of the use of Matplotlib, which is not optimal for ploting hundreds of figs.

calling jpsreport on your file without any ploting runs in ~ 45s

![Screen_Shot_2018-02-14_at_15.54.29](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/1d8b73d4cd8227ae24ef0666a854d87e/Sc

[2019-07-11 16:21] chraibi commented on #43
In Gitlab by @rummeny1 on Feb 14, 2018, 16:29

Ok, so it's about better and "intelligent" use i guess :)
Thanks anyway!

[2019-07-11 16:21] chraibi commented on #43
In Gitlab by @chraibi on Feb 14, 2018, 16:37

closed

[2019-07-11 16:21] #43 closed

[2019-07-11 16:21] chraibi opened #44 "Handle trajectories with jumps in indeces"
In Gitlab by @gjaeger on Mar 2, 2018, 10:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/72)]

I get error message `Segmentation fault: 11` after the *Global Variables* have been set (PedData.cpp, [line 235](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/PedData.cpp#L235)).

I can't narrow down the cause.

What are the options?

It seems th

[2019-07-11 16:21] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 11:23

inifile, geoemtry and trajectory files please.

I'll try to reproduce it

[2019-07-11 16:21] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 11:28

[ini_report_caserne.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/d1ec1ef39b9af15f0a81291cb9a48ca4/ini_report_caserne.xml)

[BOT090_geo_truncated.xml](/uploads/f2516a9848dae12ed66eb6a3221a2d1b/BOT090_geo_truncated.xml)

[traj_b090.txt](/uploads/135876f16c145189c19c4ffddc449e35/traj_b090.txt)

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 11:28

not my files ;)

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 11:39

assigned to @PaulGeoerg and unassigned @chraibi

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 11:39

assigned to @chraibi and unassigned @PaulGeoerg

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 14:26

In this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/PedData.cpp#L279)

there is a nice comment, maybe from me not  sure :sunglasses: , that says
![Screen_Shot_2018-03-02_at_14.25.48](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/2cf89b20312fd6bd85d58cfffe14d881/Screen_Shot_2018-03-02_at_14.25.48.

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 14:38

mentioned in commit a96c4104f8c61771e2fe34d9764928fda03aa771

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 14:54

It would be better if this constraint does not exist.
However, here there is another problem.

The geometry does not fit the trajectories
![Screen_Shot_2018-03-02_at_14.53.06](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/654ead680dc1edfa02b704ca43a13e2c/Screen_Shot_2018-03-02_at_14.53.06.png)

![Screen_Shot_2018-03-02_at_14.54.34](/up

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 14:55

That's another problem ;)

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @PaulGeoerg on Mar 2, 2018, 15:00

I will fix the Geo on Monday and will check the Traj-IDs again.

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 15:05

to the first problem:

Index *2* is missing in the trajectories datafile [b090_combined](http://ped.fz-juelich.de/experiments/2006.11.27_Duesseldorf_Casern/data/eg/eg1_breite/b090_combined.txt) from our [PED Database](http://ped.fz-juelich.de/db/doku.php?id=bottleneck2). We should fix the bug here and there.

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 15:06

changed title from **{-Segmentation fault-}** to **{+Handle trajectories with jumps in indeces+}**

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 15:06

changed the description

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @PaulGeoerg on Mar 2, 2018, 15:07

Yes, I see. I will check the other files for consecutive ids on monday.

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 15:08

Gregor: After a96c4104 `jpsreport` parses the data correctly and just `continue` when an index is missing.
If we have correct geometry we could check the measurement results.

PS: in the inifile some method should be `true`. Otherwise, nothing will be calculated.

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 15:10

I need a few minutes - one moment please

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 15:17

made the issue visible to everyone

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 15:30

It works fine with [a96c4104](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/commit/a96c4104f8c61771e2fe34d9764928fda03aa771).

The geometry is a task for the user ;)

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @gjaeger on Mar 2, 2018, 15:31

Can we close the issue?

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 15:33

Paul reopen this issue if you still have problems.

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @chraibi on Mar 2, 2018, 15:33

closed

[2019-07-11 16:22] chraibi commented on #44
In Gitlab by @PaulGeoerg on Mar 4, 2018, 04:14

Yes, issue should be closed. Thanks for your suppport!

[2019-07-11 16:22] #44 closed

[2019-07-11 16:22] chraibi opened #45 "Method D | assignment of polygons to the PersID"
In Gitlab by @gjaeger on Mar 12, 2018, 13:39 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/73)]

For a detailed data analysis the assignment of the polygons to the PersID is needed. At the moment, only the visualization with the parameter `output_voronoi_cells` is possible.

[2019-07-11 16:23] chraibi commented on #45
In Gitlab by @PaulGeoerg on Mar 13, 2018, 04:18

Just to add the comment here too: the polygons of the voronoi-cells would be interesting as well for further analysis (eg distance to neighbours).

[2019-07-11 16:23] chraibi commented on #45
In Gitlab by @gjaeger on May 7, 2018, 10:04

Should we close this issue because of the similarity to issue #77?

[2019-07-11 16:23] chraibi commented on #45
In Gitlab by @JuleAdrian on May 7, 2018, 10:23

If you close this issue, please merge the title of the issues.

[2019-07-11 16:23] chraibi commented on #45
In Gitlab by @PaulGeoerg on May 7, 2018, 10:24

Close or merge - both options are okay. But please keep one of them opend.

[2019-07-11 16:23] chraibi commented on #45
In Gitlab by @chraibi on May 7, 2018, 17:00

This issue and #77 are indeed quite similar.
Besides, I believe both are solved.

We can keep the other one open, in case this might not be the case.
![indices](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/0c6aece7328aeb6be42bf83c07371178/indices.gif)

[2019-07-11 16:23] chraibi commented on #45
In Gitlab by @chraibi on May 7, 2018, 17:00

closed

[2019-07-11 16:23] chraibi commented on #45
In Gitlab by @PaulGeoerg on May 7, 2018, 17:23

In my case the issue is solved and be closed. Thanks to all for support!

[2019-07-11 16:23] chraibi commented on #45
In Gitlab by @gjaeger on May 7, 2018, 20:11

@chraibi Are the colors of the voronoi-cells correct?

[2019-07-11 16:23] #45 closed

[2019-07-11 16:23] chraibi opened #46 "Consideration of obstacles in density calculation"
In Gitlab by @gjaeger on Mar 12, 2018, 19:14 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/74)]

obstacles are not currently included in the analysis.

![rho_traj_UNI_CORR_500_09.txt_id_1_00002](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/e223e45c00c9070534719d65c69aaa69/rho_traj_UNI_CORR_500_09.txt_id_1_00002.png)

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @gjaeger on Mar 12, 2018, 19:30

[UNI_CORR_500_06.zip](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/7cb539806725b169870df2dca56be23d/UNI_CORR_500_06.zip)

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @chraibi on Mar 12, 2018, 21:59

changed the description

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @chraibi on Mar 12, 2018, 22:07

Actually, if the geometry is constructed "correctly" it should work, as the following screenshot shows:
![Screen_Shot_2018-03-12_at_21.59.14](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/d343aaf3129c40bb436c2ad2d3948436/Screen_Shot_2018-03-12_at_21.59.14.png)

`JPSreport` uses the geometry lib from `JPScore`. So it expects a certain

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @gjaeger on Mar 13, 2018, 08:49

What is the different between `wall` and `B1` to `B4`?

[code]

[code]
The parameter `caption` is only for visualization (see manual, page 20). Can you explain it?

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @chraibi on Mar 13, 2018, 09:31

Yes, it is just a "name". Useful, to debug the geometry with `JPSvis` and know where is what..

![Screen_Shot_2018-03-13_at_09.30.13](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/db8a0eae1b6787d3d47979c6b680ff7e/Screen_Shot_2018-03-13_at_09.30.13.png)

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @chraibi on Mar 13, 2018, 09:33

changed title from **{-Analytics.cpp | consideration of obstacles-}** to **{+Consideration of obstacles in density calculation+}**

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @gjaeger on Mar 13, 2018, 11:27

The problem is still there.

![rho_traj_UNI_CORR_500_06.txt_id_1_00031](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/f5078c645b5ec60ff0aa8de4eeacd211/rho_traj_UNI_CORR_500_06.txt_id_1_00031.png)

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @gjaeger on Mar 13, 2018, 12:19

with
[code]

There is still a problem.

![rho_traj_UNI_CORR_500_06.txt_id_1_00039](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/8c4e16afe281b71117b11769da75592a/rho_traj_UNI_CORR_500_06.txt_id_1_00039.png)

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @chraibi on Mar 13, 2018, 13:25

I see that. The disturbing thing here, is it does not work *some times*.
To rule out any Boost-bugs, I need more tests.

This is the plot of the polygon calculated within jpsreport.

![Screen_Shot_2018-03-13_at_13.22.28](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/4dda9fc6194c68b2fcc3097917ec83e2/Screen_Shot_2018-03-13_at_13.22.28.p

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @chraibi on Mar 13, 2018, 14:27

Ok here is my conclusion: The problem is once again in the two adjacent obstacles.
Boost seems not able to handle this kind of "holes" in the geometry. Therefore, the cutting function does not work reliably. Smoothing everything out, shows better behavior:

[![rho](http://img.youtube.com/vi/WBBJU2meS34/0.jpg)](http://www.youtube.com/watch?v=WBBJU2meS34

[2019-07-11 16:23] chraibi commented on #46
In Gitlab by @gjaeger on Mar 14, 2018, 13:57

My conclusion. It looks also interesting.

![rho_traj_UNI_CORR_500_09.txt_id_1_00160](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/6f7fa8ec4a9474354a594b65a139488a/rho_traj_UNI_CORR_500_09.txt_id_1_00160.png)

[2019-07-11 16:24] chraibi commented on #46
In Gitlab by @chraibi on Mar 14, 2018, 13:59

Yes indeed!

[2019-07-11 16:24] chraibi commented on #46
In Gitlab by @chraibi on Mar 14, 2018, 13:59

closed

[2019-07-11 16:24] #46 closed

[2019-07-11 16:24] chraibi opened #47 "PyQtGraph"
In Gitlab by @chraibi on Mar 22, 2018, 11:35 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/75)]

Plotting hunderts figures with Matplotlib is very slow.

We should try an alternative, like e.g. PyQthraph

[2019-07-11 16:24] chraibi commented on #47
In Gitlab by @chraibi on Mar 22, 2018, 11:40

changed the description

[2019-07-11 16:24] chraibi opened #48 "dirent.h in ArgumentParser not found"
In Gitlab by @PaulGeoerg on Apr 9, 2018, 16:47 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/76)]

change line 37 in ArgumentParser to #include "../.vs/dirent.h"

dirent.h file for windows machines is attached[dirent.h](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/477983e17a9858cd487be314e5100e98/dirent.h)

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @gjaeger on Apr 9, 2018, 18:41

@PaulGeoerg What is your exact problem? Which version does it occur?

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @PaulGeoerg on Apr 9, 2018, 18:57

@gjaeger : Mohcine asked me to open this issue to remind him to change line 37. Just to avoid to change the line after git pull manually.

If you use Visual Studio (win), it does not include dirent.h. The solution may be to distribute dirent.h alongside with the jpsreport source code. Erik suggested the directory ".vs" (=visual studio).

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @gjaeger on Apr 9, 2018, 18:58

assigned to @chraibi

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @gjaeger on Apr 9, 2018, 19:00

@PaulGeoerg Thanks, I assigned the issue to @chraibi ;)

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @chraibi on Apr 9, 2018, 19:01

:face_palm:

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @PaulGeoerg on Apr 9, 2018, 19:01

Haha, fast workaround :D

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @chraibi on May 7, 2018, 17:23

should be ok now.
See !4

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @chraibi on May 7, 2018, 17:23

closed

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @gjaeger on May 7, 2018, 20:13

@PaulGeoerg Does it work?

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @PaulGeoerg on May 8, 2018, 07:16

I'll test it and give feedback early this comming week

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @PaulGeoerg on May 14, 2018, 11:28

@gjaeger @chraibi : Sorry folks, compiling the new version with VS 2017 still gives an fatal error: can't find the dirent.h file

"2>C:\Users\Paul Geoerg\workspace\jpsreport\general\ArgumentParser.cpp(37): fatal error C1083: Datei (Include) kann nicht geöffnet werden: "dirent.h": No such file or directory"

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @chraibi on May 14, 2018, 11:34

reopened

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @PaulGeoerg on May 14, 2018, 11:44

Compiling works fine from branch develop. Thanks.

Execute the exe with `<method_D enabled="true">` crashes, But I think this is another question. I think we can close this issue, right?!

[2019-07-11 16:24] chraibi commented on #48
In Gitlab by @chraibi on May 14, 2018, 13:47

Yes, please open another issue with the new problem.
(with files)

[2019-07-11 16:25] chraibi commented on #48
In Gitlab by @chraibi on May 14, 2018, 13:47

closed

[2019-07-11 16:25] #48 closed

[2019-07-11 16:25] chraibi opened #49 "Method D | OutputVoroGraph and assignment of polygons to the PersID"
In Gitlab by @gjaeger on Apr 17, 2018, 10:20 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/77)]

The polygons are given by the function `OutputVoroGraph` (*Method_D.cpp*) cannot​ be assigned to a PersID. This would be helpful for further analysis.

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on Apr 17, 2018, 10:20

assigned to @chraibi

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on Apr 17, 2018, 10:27

The polygon files are created for each measurement area. The polygons are not limited to the respective measurement area. They are issued to all PersID that are in the trajectory file. Why, therefore, do you need a polygon file for every measurement area? The files do not differ.

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on Apr 17, 2018, 10:30

This issue is similar to the issue #73

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on Apr 25, 2018, 09:16

comment to commit: dd983aa4

I will test it and compare the outputs.

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on Apr 25, 2018, 09:18

@JuleAdrian Do you want to test it, too?

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on Apr 25, 2018, 09:21

first results with dd983aa4:
[code]

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on Apr 25, 2018, 09:38

results with 17cf615b (develop branch)
[code]

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on Apr 25, 2018, 09:39

I do not know why it failed.

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @chraibi on Apr 25, 2018, 11:47

I'll have a look

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on May 3, 2018, 19:40

I get the following error message with commit 6fa459ad ([complete log-file](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/1eafdc202e6d9cfb3cef43bee5cb3fa4/log_dev.log)):

[code]

My files: [UNI_CORR_500_09.zip](/uploads/a56e785c9099a4245b74331668e4ddfd/UNI_CORR_500_09.zip)

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on May 7, 2018, 10:00

comment to [note 14928](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/commit/833ba1cf1cbfb06172c8f29e4f4a411f9f534fe6#note_14928):

I would like to adjourn the question of speed and [efficiency](https://stackoverflow.com/questions/12881848/draw-polygons-more-efficiently-with-matplotlib). The right assignment is more important to me.

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on May 7, 2018, 10:15

2nd comment to [note 14928](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/commit/833ba1cf1cbfb06172c8f29e4f4a411f9f534fe6#note_14928):

[Matplotlib 2.0.2 documentation: api example code: collections_demo.py](https://matplotlib.org/examples/api/collections_demo.html)

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @JuleAdrian on May 7, 2018, 10:30

If you just need the Person ID in the plots (and not for further analysis), you can add the following two lines in the script _Plot_cell_rho.py (or _Plot_cell_v.py):

    for pp in range(len(Trajdata)):
        ax1.text(Trajdata[pp,2]+0.03, Trajdata[pp,3]+0.03, str(int(Trajdata[pp,0])), fontsize=16)

below the existing lines:

    Trajdata = Trajdata

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @chraibi on May 7, 2018, 14:54

Thank you!

 I found out that the later `plot` of the little blue dots was the reason, why the indices are not visible.

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @chraibi on May 7, 2018, 14:57

@gjaeger

[code]

is misleading actually. I corrected that in the latest commit bca8ba67

In that specific case, at the end of the analysis, we have 4 agents left in the geometry.
For some reason, cutting their polygons with a circle reduced this number to 3, which triggers this message.

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on May 7, 2018, 15:38

@chraibi

I get the following error message with commit 35b0fe5 ([log_dev.log](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/3a4c97e7a02d4010e57ecea01e335a36/log_dev.log)):

[code]

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @chraibi on May 7, 2018, 16:10

The SegFault error makes sense. See the attached file.
(Up: My log. Down: your log)

![Screen_Shot_2018-05-07_at_16.04.17](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/f2a6759a9112f9444261f1336c2c11c2/Screen_Shot_2018-05-07_at_16.04.17.png)

These positions should start by 0, not 1.

You already uploaded the ZIP-File. If the trajector

[2019-07-11 16:25] chraibi commented on #49
In Gitlab by @gjaeger on May 7, 2018, 16:30

I used the same trajectory file. After I reload the file, I get this [log_dev.log](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/9882b525be5854cf8ead66019975a831/log_dev.log) - very strange

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @chraibi on May 7, 2018, 16:31

That's good and not good. :confused:

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @chraibi on May 7, 2018, 16:58

changed title from **Method D | OutputVoroGraph** to **Method D | OutputVoroGraph{+ and assignment of polygons to the PersID+}**

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @chraibi on May 7, 2018, 16:58

changed the description

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @gjaeger on May 7, 2018, 22:39

next try with 8b5fbd732 ([_log.log](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/b6131647224dd27b3ea8149519207b92/_log.log)):

for

[code]

i get

[code]

The warning is a bit misleading. From frame 193, there is no agent in the measuring area id 2.

This is the last plot:

![rho_traj_UNI_CORR_500_09.txt_id_2_00192](/uploads/d051eb78a

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @chraibi on May 8, 2018, 21:01

Ok makes sense. In this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/issue_77/methods/Method_D.cpp#L152)

[code]

we get no polygons since no ped is inside the measurement area.

So maybe here we should check for `num_of_peds_inside_meas_area` and not `num_of_peds_still_in_geometry`

My fix here was just to ignore these last momen

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @gjaeger on May 9, 2018, 08:53

 if(NumPeds>3)
{Polygone berechnen}
[code]

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @chraibi on May 9, 2018, 09:23

Let's close this then and open a new issue for further discussion.

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @chraibi on May 9, 2018, 09:23

closed

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @chraibi on May 9, 2018, 09:24

see !5 .

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @chraibi on May 9, 2018, 09:24

mentioned in merge request !5

[2019-07-11 16:26] chraibi commented on #49
In Gitlab by @gjaeger on May 9, 2018, 10:01

can we delete the branch _issue_77_ ?

[2019-07-11 16:26] #49 closed

[2019-07-11 16:26] chraibi opened #50 "Method D : Voronoi cells for people leaning over obstacles"
In Gitlab by @JuleAdrian on May 3, 2018, 17:46 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/78)]

In my case, some persons are leaning over the obstacles (PIDs 6, 23, 56). The corners of the corresponding Voronoi Cells are marked by green dots.

*  Case 1:
For PID 23 and 56, the corresponding Voronoi Cells are lying on the other side of the obstacle. However, the Vorono

[2019-07-11 16:26] chraibi commented on #50
In Gitlab by @chraibi on May 7, 2018, 17:26

changed the description

[2019-07-11 16:26] chraibi commented on #50
In Gitlab by @chraibi on May 7, 2018, 17:27

Jule,​ please upload a zip-file with your ini-, traj- and geo-file.

[2019-07-11 16:26] chraibi commented on #50
In Gitlab by @JuleAdrian on May 8, 2018, 09:27

[030_files.zip](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/eb2a96d30547d082299a20800f5f2ad2/030_files.zip)

[2019-07-11 16:26] chraibi commented on #50
In Gitlab by @chraibi on May 8, 2018, 20:07

This is a problem that Gregor faced before.
The boost-function used by `jpsreport` for calculating the overlap of two polygons does not work properly when one polygon is very thin.  This might be the case in your geometry.

Most of the problems mentioned above can be solved with the following geometry (small modification of yours)

[geo_56_obstacle_01.x

[2019-07-11 16:26] chraibi commented on #50
In Gitlab by @gjaeger on May 9, 2018, 08:45

@chraibi

The boost-function used by `jpsreport` for calculating the overlap of two polygons does not work properly when one polygon is very thin.  This might be the case in your geometry.

Which polygon do you mean? The barrier or the polygon of an agent/ a person?

[2019-07-11 16:26] chraibi commented on #50
In Gitlab by @chraibi on May 9, 2018, 08:47

The first polygon is the Voronoi diagram of a pedestrian.
The second polygon is the obstacle.

[2019-07-11 16:26] chraibi commented on #50
In Gitlab by @JuleAdrian on May 9, 2018, 10:35

@chraibi

In your example video person 13 vanishes in the obstacle. So the problem still exists.
Would you recommend to edit the trajectories so that all trajectories stay inside the geometry? Even if this means that the marker is located on the back instead of the head..

[2019-07-11 16:26] chraibi commented on #50
In Gitlab by @JuleAdrian on May 9, 2018, 10:41

@chraibi

Here's a plot of the same frame as my first example plot. Now all persons leaning over the barrier vanish inside the obstacle and are not assigned with a voronoi cell. Therefore, they do not contribute to the density measure of the neighboring persons.

![rho_030_c_56_h0.txt_id_3_00208](https://gitlab.version.fz-juelich.de/JuPedSim/jpsrepor

[2019-07-11 16:27] chraibi commented on #50
In Gitlab by @chraibi on May 9, 2018, 11:51

I see the problem. I would not edit the trajectories and would keep the originals.

Here the only "parameter" is the geometry. If it does not fit the trajectories, `jpsreport` will chock on it.

![Screen_Shot_2018-05-09_at_11.49.27](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/b19cd7736899ac5a3a7c67e5efcf709c/Screen_Shot_2018-05-09_at

[2019-07-11 16:27] chraibi commented on #50
In Gitlab by @chraibi on May 9, 2018, 15:47

I just remembered. @gjaeger  and me had once a lousy discussion about how to *automatically* find
_the_ geometry that fits best the trajectories.
![Screen_Shot_2018-05-09_at_15.45.55](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/50c0f457c4850ab27738f5f936ed46c3/Screen_Shot_2018-05-09_at_15.45.55.png)

The bad news is I did not manage

[2019-07-11 16:27] chraibi commented on #50
In Gitlab by @gjaeger on May 9, 2018, 16:11

@chraibi That's not the solution for this problem.

The question is: How can we track/analyze agents who leaning over the barrier?

[2019-07-11 16:27] chraibi commented on #50
In Gitlab by @chraibi on May 22, 2018, 14:53

mentioned in commit 0e31449697d0fb41b472220a072e523df588ed37

[2019-07-11 16:27] chraibi opened #51 "git branch, revision, date and compile information"
In Gitlab by @gjaeger on May 9, 2018, 10:10 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/79)]

Extract from a logfile:

[code]

Can we add the following information to the logfile?

* git branch
* git revision
* git date
* compiler information

It could simplify debugging.

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @chraibi on May 13, 2018, 23:40

First try

![Screen_Shot_2018-05-14_at_01.10.31](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/d99aacdd7a7079a9f89c12616c700864/Screen_Shot_2018-05-14_at_01.10.31.png)

See cc43b9d5

Compiler information? Like what?

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @gjaeger on May 14, 2018, 09:13

assigned to @chraibi

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @gjaeger on May 14, 2018, 09:23

Thanks.

These are the first lines (commit 88fd8c3)

[code]

Q: Does the sign `g` in v0.8.2-36-**g**88fd8c3 have meaning?

[code]

Can we add/change the following lines/information?

[code]

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @chraibi on May 14, 2018, 09:40

![Screen_Shot_2018-05-14_at_09.40.01](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/11a31a35d26e67bbd98f629c70dd5b91/Screen_Shot_2018-05-14_at_09.40.01.png)

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @chraibi on May 14, 2018, 09:44

Gregor I don't know what the `g` in the commit hash means :thinking:

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @chraibi on May 14, 2018, 09:50

**The "g" prefix stands for "git"** and is used to allow describing the version of a software depending on the SCM the software is managed with. This is useful in an environment where people may use different SCMs.

[from documentation](https://linux.die.net/man/1/git-describe)

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @gjaeger on May 14, 2018, 09:54

Do we need the line `Commit subject`?

The **Version** and the **Commit hash** show different version numbers. Is this ok?

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @chraibi on May 14, 2018, 09:55

- No commit subject it not needed.
- It's ok. We will release this week. Then they will match.

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @gjaeger on May 14, 2018, 09:57

Thanks. I am perfectly happy. You can make a *pull request*.

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @chraibi on May 14, 2018, 13:22

created branch [`79-git-branch-revision-date-and-compile-information`](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/compare/develop...79-git-branch-revision-date-and-compile-information)

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @chraibi on May 14, 2018, 13:22

mentioned in merge request !6

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @gjaeger on May 14, 2018, 19:28

with commit 38c804fc, I get the following message:

[code]

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @chraibi on May 14, 2018, 20:12

Should be fixed with de0fc2be

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @gjaeger on May 14, 2018, 20:49

ok, only two warnings:
[code]

[2019-07-11 16:27] chraibi commented on #51
In Gitlab by @gjaeger on May 14, 2018, 20:53

looks good (with de0fc2be):

[code]

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @gjaeger on May 14, 2018, 21:00

but ...

... I get a `Segmentation fault: 11` with [UNI_CORR_500_09.zip](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/65bdb9bfb7921d25076d7dd5c9658f9a/UNI_CORR_500_09.zip) ([complete log](/uploads/6d26eb08c2bd0648d2b7ff9d5d4cb7c8/log_issue_79.log))

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @chraibi on May 15, 2018, 08:57

same like #81?

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @gjaeger on May 15, 2018, 08:57

I don't know.

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @PaulGeoerg on May 15, 2018, 10:05

@chraibi : Any possibility to write out a log on a win-maschine?

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @gjaeger on May 15, 2018, 11:15

[code]

same problem with commit e26550b4: I get a `segmentation fault: 11`

[code]

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @chraibi on May 15, 2018, 15:04

Gregor check out 24f0abbd

I'm closing this issue now.

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @chraibi on May 15, 2018, 15:04

closed

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @gjaeger on May 15, 2018, 15:14

We should not close an issue until we have tested it.

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @gjaeger on May 15, 2018, 15:14

reopened

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @gjaeger on May 15, 2018, 15:14

I'm testing right now.

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @gjaeger on May 15, 2018, 15:20

Ok, it works with commit 24f0abb ([logfile](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/9926b30d31509ecf9c6233fc89ab6d76/logfile_issue_79.log)).

Now, you can close the issue. :grinning:

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @chraibi on May 15, 2018, 15:20

:+1:

[2019-07-11 16:28] chraibi commented on #51
In Gitlab by @chraibi on May 15, 2018, 15:20

closed

[2019-07-11 16:28] #51 closed

[2019-07-11 16:28] chraibi opened #52 "Use Boost Directory Functionality"
In Gitlab by @chraibi on May 14, 2018, 20:09 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/80)]

In [ArgumentParser.cpp](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/general/ArgumentParser.cpp)
we use lot of directory/file function from the *infamous*  `dirent.h`

This is not portable enough and causes some problems with VS. See #76

Since we are

[2019-07-11 16:28] chraibi commented on #52
In Gitlab by @chraibi on May 14, 2018, 20:17

changed the description

[2019-07-11 16:28] chraibi commented on #52
In Gitlab by @chraibi on Oct 4, 2018, 18:31

created branch [`80-use-boost-directory-functionality`](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/compare/develop...80-use-boost-directory-functionality)

[2019-07-11 16:28] chraibi commented on #52
In Gitlab by @chraibi on Oct 4, 2018, 18:31

mentioned in merge request !10

[2019-07-11 16:28] chraibi commented on #52
In Gitlab by @chraibi on Nov 15, 2018, 09:49

closed via merge request !10

[2019-07-11 16:28] chraibi commented on #52
In Gitlab by @chraibi on Nov 15, 2018, 09:49

mentioned in commit 3895e194aa3761f58dd068d44286c0dbc89f8c53

[2019-07-11 16:29] #52 closed

[2019-07-11 16:29] chraibi opened #53 "Method D is too slow"
In Gitlab by @chraibi on May 19, 2018, 08:36 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/82)]

See Paul's last comment in #81

[2019-07-11 16:29] chraibi commented on #53
In Gitlab by @chraibi on May 19, 2018, 09:18

I tried this with these files [files_82_report.zip](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/b1337a0be97cd8dce860685c58e98068/files_82_report.zip)

This is my result

![Screen_Shot_2018-05-19_at_09.13.52](/uploads/700932baa391b78c9ee8c6c64441a1ff/Screen_Shot_2018-05-19_at_09.13.52.png)

It does not look terribly slow. Here of cou

[2019-07-11 16:29] chraibi commented on #53
In Gitlab by @PaulGeoerg on May 19, 2018, 10:21

Hmmm, looks quite good. I don't know why my try is so terrible slow. I will check this again this weekend or on thuesday.

[2019-07-11 16:29] chraibi commented on #53
In Gitlab by @chraibi on May 19, 2018, 13:35

changed time estimate to 1w

[2019-07-11 16:29] chraibi commented on #53
In Gitlab by @PaulGeoerg on May 22, 2018, 08:36

Okay, seems to be something wrong with my modificiations of the plotting scripts. I don't know what is happend in detail because it works quite good with v.0.8.2, but using the oiginal ones looks quite good:

[code]

But and maybe a new issue (?): It may be usefull to have a bit information about the progress in the terminal?

Another issue: enablin

[2019-07-11 16:29] chraibi commented on #53
In Gitlab by @chraibi on Jun 21, 2018, 10:49

Is this still an issue?

[2019-07-11 16:29] chraibi commented on #53
In Gitlab by @PaulGeoerg on Jun 21, 2018, 10:53

No, in my case everything is finished. Thanks, Mohcine!

[2019-07-11 16:29] chraibi commented on #53
In Gitlab by @chraibi on Jun 21, 2018, 10:55

closed

[2019-07-11 16:29] #53 closed

[2019-07-11 16:29] chraibi opened #54 "scripts | plot voronoi-cells"
In Gitlab by @PaulGeoerg on Jun 6, 2018, 10:17 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/83)]

Something went wrong if plot voronoi-graphs is set  "true" (method D) (see the [log-file](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/4c579c06856cf96d3f9ac4b06bb3a0ca/log.txt) attached).

I get the following error-info:

INFO:	Plotting Voronoi Cell at th

[2019-07-11 16:29] chraibi commented on #54
In Gitlab by @chraibi on Sep 18, 2018, 19:06

@gjaeger can you reproduce this issue?

[2019-07-11 16:29] chraibi commented on #54
In Gitlab by @gjaeger on Sep 19, 2018, 07:42

This is not an issue. It's an information output.

see Method_D.cpp, line [461](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/Method_D.cpp#L461) ff:

[code]

It's all fine.

[2019-07-11 16:29] chraibi commented on #54
In Gitlab by @gjaeger on Sep 20, 2018, 08:23

*summary*:

The problem described is based on a space in the path (scriptsLocation):

`<scripts location="C:/Users/Paul Geoerg/workspace/jpsreport/scripts/"/>`

The path is not completely passed:
![cmd](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/85283a582025454fa5f6b7a73cc47167/cmd.png)

After changing the script path, there was a

[2019-07-11 16:29] chraibi commented on #54
In Gitlab by @PaulGeoerg on Sep 20, 2018, 08:31

Thanks for your support, @gjaeger. The issue is certainly solved and can be closed!

[2019-07-11 16:29] chraibi commented on #54
In Gitlab by @PaulGeoerg on Sep 20, 2018, 08:32

closed

[2019-07-11 16:29] chraibi commented on #54
In Gitlab by @chraibi on Sep 20, 2018, 09:07

@gjaeger definitely, yes.

Besides, we should do this also in C++. See #80.

Can you solve one of these issues? Or even both?

[2019-07-11 16:29] chraibi commented on #54
In Gitlab by @gjaeger on Sep 20, 2018, 19:02

Let's talk about it on Wednesday.

[2019-07-11 16:29] #54 closed

[2019-07-11 16:29] chraibi opened #55 "Calling python instead of python3 leads to problems when importing modules"
In Gitlab by @JuleAdrian on Aug 6, 2018, 13:45 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/85)]

In the commit 8f2f3ebe the python call within MethodD was changed from `python3` to `python`. Why is that?

In my case, this leads to a call of python2.7 instead of python3.6 although I have set an alias `python=python3`. And this leads to problems when importing certain mo

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @JuleAdrian on Aug 6, 2018, 13:46

changed the description

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @PaulGeoerg on Aug 6, 2018, 14:01

I am not sure if I have understood you properly: I could work around  by setting a system variable to the correct python path. But that is not the question, right?

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @JuleAdrian on Aug 6, 2018, 14:09

The question is: Why don't we just call `python3` if we want to use `python3` and if the scripts only work with python3?
For me, the workaround with an alias doesn't work. Maybe I can find another workaround.
But anyway, it is preferable, if the user does not need to create a workaround.

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @gjaeger on Aug 6, 2018, 14:17

How about if the python query is done in the compilation process? (e.g. cmake)?

Why do we associate `python` with `jpsreport`? The `python` call from `jpsreport` is very slow ...

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @chraibi on Aug 7, 2018, 11:28

@JuleAdrian your default python is 2.7 and not 3 then?

actually should work. Maybe [source](https://askubuntu.com/questions/320996/how-to-make-python-program-command-execute-python-3) your config file.

![Screen_Shot_2018-08-07_at_17.19.40](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/0c120f07778618b3bb5e0d652a6be988/Screen_Shot_2018

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @gjaeger on Aug 7, 2018, 11:39

@chraibi

Yes, is there a way to solve this in the cmake-file?

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @PaulGeoerg on Aug 7, 2018, 11:40

You're right, mate. I am probably the only one who works with jpsreport on a win-machine, right? So I take a look on my 'workaround-notes' and found [this](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/0a32ca2eeeb8a12f499c070c91809a16/pythonpath.jpg)!  =)

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @JuleAdrian on Aug 7, 2018, 13:39

@chraibi : Yes, `python2.7` is installed by default... Sourcing the config file didn't work either. The alias is working, when I call `python` in the terminal. It just doesn't work when `python` is being called by `jpsreport`.

The real question is: Isn't e.g. Python Version 3.6 always callable by `python3` or `python3.6`? Do we really need to force

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @chraibi on Sep 12, 2018, 13:14

@PaulGeoerg could you please check if `python3` works for you?
I prefer to revert to commit 8f2f3ebe.

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @PaulGeoerg on Sep 12, 2018, 21:03

@chraibi : Absolutly - it doesn't work. Don't know why. But to be honest to you and as mentioned before, it makes sense to call for `python3`. I will not update jpsreport any more until finish my project and plot all my stuff by own scripts. Do the reversion, mate!

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @gjaeger on Sep 15, 2018, 11:22

A good suggestion!

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @chraibi on Sep 15, 2018, 12:34

closed via commit 2dfb2f3279afb23570516bb715d555f24f4a525b

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @chraibi on Sep 15, 2018, 12:34

closed via commit 641c1bd84bdafd7329e74f803e4ba8f124a41eed

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @gjaeger on Sep 15, 2018, 12:37

@chraibi Why do you close the issue if there is no solution yet? Or what is the solution?

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @chraibi on Sep 15, 2018, 15:11

reopened

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @chraibi on Sep 15, 2018, 15:11

The issue was automatically closed with my commit, that calls `python3` instead of `python`.

I reopen it because I'm working on another idea... :sunglasses:

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @gjaeger on Sep 15, 2018, 15:22

What are you doing? commit 641c1bd8 calls `python3` instead of `python`. commit 2dfb2f32 calls `python` instead of `python3`.

Do you want to describe your idea?

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @chraibi on Sep 15, 2018, 15:36

Via `cmake` python interpreter is detected.

This [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/commit/c8564f4afc29de8fea0e077bc74cd4f0048593d8#9a2aa4db38d3115ed60da621e012c0efc0172aae_324_325) gives a warning in case python3 is not installed.
(did not check this else yet, since it's hard to find a system without python3)

This solutio

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @gjaeger on Sep 15, 2018, 16:13

commit 5fb97f3244f488e1ef30cd79ac33785492c74751: Can I help you?

[2019-07-11 16:30] chraibi commented on #55
In Gitlab by @chraibi on Sep 15, 2018, 18:26

Sure :+1:

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @gjaeger on Sep 16, 2018, 12:11

It's a serious question.

You write:

Can we use the gitlab CI/CD process for this? Does it make sense to use test environments (for Linux, MacOS, Windows)?

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @chraibi on Sep 16, 2018, 22:04

We already use [Gitlab CI/CD](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/pipelines). Right now `jpsreport` does not compile, because the Gitlab runner runs on an image with an old version of g++.
(not our problem, but going to be solved by the admins, hopefully)

Yes, but probably not in Gitlab. I know some online solutions, like [TraVis](

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @chraibi on Sep 18, 2018, 08:52

Is this issue solved? Close?

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @gjaeger on Sep 18, 2018, 09:03

Does it work for all operating systems? Did you test it?

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @chraibi on Sep 18, 2018, 11:25

Yes, see screenshots for Windows 7, OSX and Linux (Debian).

You guys, please check if you have any problems after this commit.

If not, let's close this issue.

![windows7](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/c21870bd1a5e2114f6a9fd0ed7e2ad0d/windows7.png)

![Screen_Shot_2018-09-18_at_10.16.05](/uploads/c407359111a177bcf9959

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @gjaeger on Sep 18, 2018, 11:31

to Linux (Debian): Is cmake aborted because python could not find or boost could not find?

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @chraibi on Sep 18, 2018, 11:33

Because of boost, since python check issues a warning only.

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @gjaeger on Sep 18, 2018, 11:33

@JuleAdrian : Is your issue answered?

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @JuleAdrian on Sep 18, 2018, 14:39

Mostly! For method D, it works fine!
But, there are still hard-coded `python` calls in Method_A.cpp and Method_B.cpp.
When this is changed as well, the issue can be closed!

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @chraibi on Sep 18, 2018, 15:00

@JuleAdrian can you do that?

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @chraibi on Oct 4, 2018, 18:29

closed

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @chraibi on Nov 5, 2018, 11:46

mentioned in commit 641c1bd84bdafd7329e74f803e4ba8f124a41eed

[2019-07-11 16:31] chraibi commented on #55
In Gitlab by @chraibi on Nov 5, 2018, 11:46

mentioned in commit 2dfb2f3279afb23570516bb715d555f24f4a525b

[2019-07-11 16:31] #55 closed

[2019-07-11 16:31] chraibi opened #56 "Calling negative frameIDs leads to problems in extracting frameIDs"
In Gitlab by @PaulGeoerg on Oct 1, 2018, 09:31 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/86)]

Hi everyone,

I am challenged by negative numbers of frames (frameID) at the beginning of an experimental run. This is caused by a frameshift between two connected (married) camera perspectives. Because it is a result of the combination process, I talked to @JuleAdrian  abo

[2019-07-11 16:31] chraibi commented on #56
In Gitlab by @JuleAdrian on Oct 1, 2018, 17:24

To question 1:
Are you sure that the frameNr is different in _Plot_cell_rho.py and _Plot_cell_v.py? In the plot scripts of the current versions, you find the same line:

    frameNr = int(namefile.split("_")[-1])

This is line 56 in _Plot_cell_v.py and line 162 in _Plot_cell_rho.py.

Are the scripts different in the version you are currently using?

[2019-07-11 16:31] chraibi commented on #56
In Gitlab by @PaulGeoerg on Oct 4, 2018, 19:03

Sorry guys, I didn't checked it by now. Apologies for delay on this . I will do this at the weekend / beginning the next week!

[2019-07-11 16:31] chraibi commented on #56
In Gitlab by @chraibi on Oct 4, 2018, 19:11

Paul, No stress.
(you mean *ladies*) :grin:

[2019-07-11 16:31] chraibi commented on #56
In Gitlab by @PaulGeoerg on Oct 22, 2018, 12:52

Argh... I am so sorry, I forgot about this issue.

Using the Scripts from the current version leads to the same problem: any plotout of rho/v of frame_ids smaller than zero leads to an error:

  File "././scripts//_Plot_cell_v.py", line 56, in <module>
    frameNr = int(namefile.split("_")[-1])
ValueError: invalid literal for int() with base 10: '00

[2019-07-11 16:31] chraibi commented on #56
In Gitlab by @chraibi on Oct 22, 2018, 13:05

I think I understand your problem:

`jpscore` produces files with names as follows `*%4d.dat`, which yields by negative frames
to names like e.g. `*000-1.png`.

Is this correct?

![Screenshot_2018-10-22_at_13.08.15](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/14a24efea468dd5acb5bc2c5a58f47bb/Screenshot_2018-10-22_at_13.08.15.png)

[2019-07-11 16:32] chraibi commented on #56
In Gitlab by @PaulGeoerg on Oct 22, 2018, 13:11

@chraibi : You're absolutly right. I do not understand what is different in split the filename for the savetxt (e.g.polygon0501_converted.txt_id_2_000-3 ) and the split for the filename of the pngs?

[2019-07-11 16:32] chraibi commented on #56
In Gitlab by @chraibi on Oct 22, 2018, 13:22

I think the error comes from this line

![Screenshot_2018-10-22_at_13.20.43](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/b73978df5c351c262b081dec7f5c42b5/Screenshot_2018-10-22_at_13.20.43.png)

We did not expect frame ids to be negative. If this line makes out of `-1` a `-00001` then I guess everything is going to be *splitet* as us

[2019-07-11 16:32] chraibi commented on #56
In Gitlab by @chraibi on Oct 22, 2018, 13:31

mentioned in commit 5304efb89e046f356f77ca5e87c75e9a140ce157

[2019-07-11 16:32] chraibi commented on #56
In Gitlab by @PaulGeoerg on Oct 23, 2018, 07:07

Absolutely. I know, that you did not expect negative frame ids. This is just happened because of the combination of different camera perspectives. But maybe it is useful for further projects...

Yes, it would be fine, if the highlighted line makes out of `-1` a `-00001` it would be fine. But why is the split for the polygon.txt working and the split

[2019-07-11 16:32] chraibi commented on #56
In Gitlab by @chraibi on Oct 25, 2018, 20:08

closed

[2019-07-11 16:32] #56 closed

[2019-07-11 16:32] chraibi opened #57 "Method D: swallowed obstacles"
In Gitlab by @gjaeger on Oct 6, 2018, 17:02 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/87)]

When an obstacle is enclosed by a polygon, the obstacle disappears (see frame 270, 828, 1032, 1196, 1554, 2300 ...)

![Video](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/9739d4564d55c32fa60a3356692f4e1d/out_8.mp4)

[inifile](/uploads/02253f40b25412cc4460a71

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @chraibi on Oct 7, 2018, 10:42

created branch [`87-method-d-swallowed-obstacles`](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/compare/develop...87-method-d-swallowed-obstacles)

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @chraibi on Oct 7, 2018, 18:46

Looks like the obstacle becomes part of the Voronoi polygon when it's inside it. Unfortunately, we don't see this in the video above.

All black points in the video below, are part of the Voronoi diagram. The obstacle is not plotted​.

![imagesequence](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/b9f91eae5f14ab98b7e4f4c5cb8b4db6/image

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @chraibi on Oct 7, 2018, 19:14

More debugging gives
![Screen_Shot_2018-10-07_at_19.13.35](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/3005f251d72b6f9b04cd1d3f7b5b0797/Screen_Shot_2018-10-07_at_19.13.35.png)

[boost.cpp](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/snippets/43)

Boost-intersection function used in `VoronoiDiagram::cutPolygonsWithGeometry

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @chraibi on Oct 8, 2018, 14:01

The resulting Voronoi polygons we get in this case are correct.

In case the obstacle is within the polygon, the resulting area (density) equals the area of the "outer ring" minus the area of the obstacle.

For example Agent 9, frame 264

[code]

(results produced by this [debug_jpsreport_polygons.ipynb](https://gitlab.version.fz-juelich.de/JuPedSim/jps

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @chraibi on Oct 9, 2018, 16:25

mentioned in commit 361cffdd936bdc3a2827dea7c94f1aa6b6564b6f

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @gjaeger on Oct 9, 2018, 17:55

The problem relates to the changes in the function `GetIndividualID` (issue #84 - commit 71ffd53d).

The _old_ visualization:

![crossing_90_c_01_Method_D_0264_old](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/15b61fc1033a959ef91c2821ab2364a2/crossing_90_c_01_Method_D_0264_old.png)

It works with the changes in the commit 361cffdd.  T

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @gjaeger on Oct 9, 2018, 18:03

My initial question would be clarified. We can close this issue.

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @chraibi on Oct 9, 2018, 18:05

Your plots function is correct.

Besides, I like the "pacman"-effect we see in your last video.  :sweat\_smile:

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @chraibi on Oct 9, 2018, 18:06

closed

[2019-07-11 16:32] chraibi commented on #57
In Gitlab by @chraibi on Oct 9, 2018, 18:49

mentioned in commit 3dc868aea0916d7185247da310b20e0c5fac3da6

[2019-07-11 16:32] #57 closed

[2019-07-11 16:32] chraibi opened #58 "Library Geometry"
In Gitlab by @chraibi on Oct 25, 2018, 20:10 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/90)]

- Don't compile geometry files.

- Use the jpscore library instead

[2019-07-11 16:33] chraibi commented on #58
In Gitlab by @gjaeger on Oct 26, 2018, 16:40

What do you mean by that?

[2019-07-11 16:33] chraibi commented on #58
In Gitlab by @chraibi on Oct 26, 2018, 16:46

The geometry files in jpscore, jpsvis, and jpsreport are basically the same.

Now, they start to diverge.
(probably happened already)

The idea, is just to link to, say a jpscore geometry​ lib instead of having own geometry files.

[2019-07-11 16:33] chraibi commented on #58
In Gitlab by @gjaeger on Oct 26, 2018, 17:30

A good suggestion. Static or shared linked?

[2019-07-11 16:33] chraibi commented on #58
In Gitlab by @gjaeger on Oct 28, 2018, 20:20

You should have an idea if you post such an issue. A shared library should not be a hurdle for the user. Static or shared - both have advantages and disadvantages. The decision/solution should be well documented.

[2019-07-11 16:33] chraibi opened #59 "Output folder | alternative location and name"
In Gitlab by @gjaeger on Nov 4, 2018, 11:42 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/91)]

The data are stored by default in the "Output" folder. I think it makes sense if we provide an alternative path location and folder name in the inifile.

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @chraibi on Nov 9, 2018, 16:04

created branch [`91-output`](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/compare/develop...91-output)

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @chraibi on Nov 9, 2018, 18:33

Can someone make 4 different tests (with small trajectories) to check the new changes for all methods:

- A
- B
- C
- D

Please upload a zip file in this issue. Thanks!

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @chraibi on Nov 9, 2018, 18:56

created branch [`91-output-folder-alternative-location-and-name`](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/compare/develop...91-output-folder-alternative-location-and-name)

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @chraibi on Nov 9, 2018, 18:56

mentioned in merge request !13

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @gjaeger on Nov 9, 2018, 20:09

It does not work.

My inifile is in path _../export_, the trajectory file is in _../data_ and the geometry is in _../docu_.

**ini_UNI_CORR_500_08_exp.xml**
[code]

If there is no folder _Output_, jpsreport could not open the directory.

 **log_UNI_CORR_500_08_exp.txt**

[code]

An other error:

It does not works with `<output location="./Output/"/>`.

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @gjaeger on Nov 10, 2018, 22:50

with commit fd242e8d31d7f9c1368ff698b9faba513ba8d59d

[code]

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @chraibi on Nov 11, 2018, 07:57

@gjaeger thanks for testing.  :+1:

Since this issue is strongly related to #80, I merged both branches.

Therefore, candidate branch for being merged in *develop* is `80-use-boost-directory-functionality`.

Please have a try with the latest commit a2f75e24 (branch: 80-use-boost-directory-functionality)

Just:

- pull a2f75e24
- compile
- and run again

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @gjaeger on Nov 11, 2018, 08:32

Which typos?

*my path from where I call my [inifile](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/5e85200eb944ca45bb00219d7a050645/ini_UNI_CORR_500_08_exp.xml) and the result:*

[code]

*my logfile:*
[log_UNI_CORR_500_08_exp.txt](/uploads/1134618687efa3b2ef1458172f47f864/log_UNI_CORR_500_08_exp.txt)

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @chraibi on Nov 11, 2018, 10:12

Hmm, always segfault error.

I would suggest to remove `jpsreport_dev`, delete the content of your `build` and restart a clean build

- cmake ..
- make

This would also update the git information of the executable.

Your log file shows branch `91-output`. Maybe you sent an old version?

Because of the typos in the inifile (see screenshot) this is the e

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @gjaeger on Nov 11, 2018, 10:42

I deleted the folder `build` and restarted a clean build:

[code]

Then I get:
[code]

The log file is not written. So I uploaded the old file, sorry.

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @gjaeger on Nov 11, 2018, 10:44

Thanks. I changed it.

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @gjaeger on Nov 12, 2018, 13:09

solved with commit ae72040423f2a50639447b6c049848e52fc2183d in branch *80-use-boost-directory-functionality*.

I propose to accept and merge the change (including C ++ 17).

[2019-07-11 16:33] chraibi commented on #59
In Gitlab by @chraibi on Nov 15, 2018, 09:42

closed

[2019-07-11 16:33] #59 closed

[2019-07-11 16:34] chraibi opened #60 "Method E | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 07:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/92)]

Implementation of ***measurement method 1*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 28] as ***Method E***

[code]

[code]
and for the measurement area $`\Delta x \cdot \Delta y`$:

[code]

[2019-07-11 16:34] chraibi opened #183 "Method E | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 07:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/92)]

Implementation of ***measurement method 1*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 28] as ***Method E***

[code]

[code]
and for the measurement area $`\Delta x \cdot \Delta y`$:

[code]

[2019-07-11 16:34] chraibi commented on #60
In Gitlab by @gjaeger on Nov 12, 2018, 08:17

changed title from **Method {-| measurement method 1-}** to **Method {+E | new measurement method+}**

[2019-07-11 16:34] chraibi commented on #60
In Gitlab by @gjaeger on Nov 12, 2018, 08:17

changed the description

[2019-07-11 16:34] chraibi opened #61 "Method F | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/93)]

Implementation of ***measurement method 2*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 31] as ***Method F***

[code]

[code]

[2019-07-11 16:34] chraibi opened #184 "Method F | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/93)]

Implementation of ***measurement method 2*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 31] as ***Method F***

[code]

[code]

[2019-07-11 16:34] chraibi commented on #61
In Gitlab by @gjaeger on Nov 12, 2018, 08:16

changed title from **Method | {-measurement method 2-}** to **Method | {+new measurement method+}**

[2019-07-11 16:34] chraibi commented on #61
In Gitlab by @gjaeger on Nov 12, 2018, 08:16

changed the description

[2019-07-11 16:34] chraibi commented on #61
In Gitlab by @gjaeger on Nov 12, 2018, 08:16

changed title from **Method | new measurement method** to **Method {+F +}| new measurement method**

[2019-07-11 16:34] chraibi opened #62 "Method G | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/94)]

Implementation of ***measurement method 3*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 32] as ***Method G***

[code]

[code]

[2019-07-11 16:34] chraibi opened #185 "Method G | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/94)]

Implementation of ***measurement method 3*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 32] as ***Method G***

[code]

[code]

[2019-07-11 16:34] chraibi commented on #62
In Gitlab by @gjaeger on Nov 12, 2018, 08:15

changed title from **Method {-| measurement method 3-}** to **Method {+G | new measurement method+}**

[2019-07-11 16:34] chraibi commented on #62
In Gitlab by @gjaeger on Nov 12, 2018, 08:15

changed the description

[2019-07-11 16:34] chraibi opened #63 "Method H | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/95)]

Implementation of ***measurement method 4*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 34] as ***Method H***

[code]

[code]

[code]

[2019-07-11 16:34] chraibi opened #186 "Method H | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/95)]

Implementation of ***measurement method 4*** [[Holl 2016](http://hdl.handle.net/2128/13519), p. 34] as ***Method H***

[code]

[code]

[code]

[2019-07-11 16:34] chraibi commented on #63
In Gitlab by @gjaeger on Nov 12, 2018, 08:15

changed title from **Method {-| measurement method 4-}** to **Method {+H | new measurement method+}**

[2019-07-11 16:34] chraibi commented on #63
In Gitlab by @gjaeger on Nov 12, 2018, 08:15

changed the description

[2019-07-11 16:34] chraibi commented on #63
In Gitlab by @PaulGeoerg on Nov 15, 2018, 11:16

This measurement method is based on the work by Edie* and was developed for railbound- traffic. Stefan has generalised this measurement method for multidirectional traffic on any desired measurement surfaces. The method is described in detail in Sec 4.1.3 (pp. 64 ff.)

* L. Edie, “Discussion of Traffic Stream Measurements and Definitions,” in Procee

[2019-07-11 16:34] chraibi opened #64 "Method I | new measurement method"
In Gitlab by @gjaeger on Nov 12, 2018, 08:21 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/96)]

Data for all individuals (all `ID`/`PersID` in trajectory file) independent of the measuring area, which is based on the Voronoi density and velocity v

[2019-07-11 16:34] chraibi commented on #64
In Gitlab by @gjaeger on Nov 12, 2018, 13:36

The method should deliver the following output in a txt-file:

**column names**:
* `PersID` (*person/agent ID*)
* `Frame` (*frame*)
* `x/m` (*x-position*)
* `y/m` (*y-position*)
* `z/m` (*z-position*)
* `rho` (*individual density*)
* `vel` (*individual velocity*)
* `Voronoi_Polygon` (*polygon string*)

[2019-07-11 16:34] chraibi commented on #64
In Gitlab by @gjaeger on Nov 12, 2018, 13:36

changed the description

[2019-07-11 16:34] chraibi commented on #64
In Gitlab by @chraibi on Nov 12, 2018, 14:25

Don't we get this output from method D already?

[2019-07-11 16:34] chraibi commented on #64
In Gitlab by @PaulGeoerg on Nov 12, 2018, 14:30

I think @gjaeger means to collect the information into one single .txt-file. Actually method D gives the columns #frame, speed and density. If you want information e.g. the voronoi-polygon, you will need a workaround because the information is stored in different output-files. Is that correct, Gregor?

[2019-07-11 16:34] chraibi commented on #64
In Gitlab by @gjaeger on Nov 12, 2018, 14:30

@chraibi:

Only depending on the measurement area.

I would like to have the data independent of a measurement area.

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Nov 12, 2018, 14:31

@PaulGeoerg: no

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @PaulGeoerg on Nov 12, 2018, 14:32

@gjaeger ah okay, I got it =)

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Feb 7, 2019, 09:47

new branch *96-method_i* with initial commit 938e43221c442e3b3f840404e3bfdbc91dc3021a

:warning: Note: Renaming of function `polygon_to_string` ([L 533](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/96-method_i/methods/Method_I.cpp#L533)) to `polygon_to_string2` required.

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Feb 7, 2019, 09:57

Idea from issue #99: consideration of the corners of the considered area when calculating the voronoi cells.

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @chraibi on Feb 7, 2019, 12:52

why?

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Feb 7, 2019, 14:01

that's why:

[code]

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @chraibi on Feb 8, 2019, 08:52

Funny that boost has a function with a similar name. :sweat\_smile:

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Feb 8, 2019, 09:14

The function `polygon_to_string` was duplicate in *Method_D.cpp* and *Method_I.cpp*.

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @chraibi on Feb 8, 2019, 09:15

I suggest to move it in Analysis, so that we have it only once.
In case we later find a bug in this function and need to fix it, we don't have to do it in two different files.

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @chraibi on Feb 11, 2019, 10:58

assigned to @chraibi

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Feb 18, 2019, 12:57

@chraibi: commit 938e432 - @ArneGraf and my work of today.

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @chraibi on Feb 20, 2019, 08:55

mentioned in merge request !14

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Feb 22, 2019, 07:39

**version**
Commit hash: v0.8.3-56-gbfc4ed4

**test case**
[ini_EO_300_free-velocity_1_test.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/fa06ff3a1aa8d71ea96dea8190d30cd4/ini_EO_300_free-velocity_1_test.xml)

**Result**
The output folder is empty. No data was saved. [log_UO_300-300-120_test.txt](/uploads/f17994caf1c8b4fcd444af15b

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Feb 25, 2019, 21:49

**version**
Commit hash: v0.8.3-59-g3f685a3

***test case**
ini_EO_300_free-velocity_1_test.xml

**Result**
I can compile the program and I get the following warning:

[code]

Where does the missing `return` belong? I find no difference to *Method D*.

I can start the calculation (see [logfile](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/up

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @chraibi on Feb 26, 2019, 06:26

I don't understand your meaning.

:+1:

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @gjaeger on Feb 27, 2019, 22:50

**version**
Commit hash: v0.8.3-63-gf15df4f

**test case**
ini_EO_300_free-velocity_1_test.xml

**result**
I can compile the program and I get no warning.

jpsreport calculates something with some warnings (log file: [log_UO_300-300-120_test.txt](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/0fd94811220fb296a10f2aac32e9e04b/log_UO_300

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @chraibi on Feb 28, 2019, 18:46

That cannot be. Nothing changed in the calculation method.
The bug is somewhere else.

[2019-07-11 16:35] chraibi commented on #64
In Gitlab by @chraibi on Mar 3, 2019, 19:37

closed via merge request !14

[2019-07-11 16:35] #64 closed

[2019-07-11 16:35] chraibi opened #65 "Add API Doc"
In Gitlab by @chraibi on Nov 15, 2018, 10:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/97)]

Document classes and add `make doc` to cmake.

[2019-07-11 16:35] chraibi opened #66 "IndividualFD file use wrong PersID"
In Gitlab by @gjaeger on Jan 27, 2019, 18:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/98)]

It looks like the IndividualFD file does not take into account the `PersID` from the trajectory file.

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @chraibi on Jan 28, 2019, 16:42

More input please. Thanks!

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @gjaeger on Jan 28, 2019, 21:34

The trajectory file contains no consecutive `PersID`. jpsreport saves consecutive IDs.

`PersID` in trajectory file ([traj_uo-300-300-120_exp_extracted.txt](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/bbeb15b610bbf90afc8e380d933cdba0/traj_uo-300-300-120_exp_extracted.txt)):
[code]

`PersID` in IndividualFD file ([traj_uo-300-300-120

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @gjaeger on Jan 30, 2019, 23:09

In the file `PedData.cpp`, I found the following lines ([see L 231](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/PedData.cpp#L231))
[code]

@chraibi Is this assumption the reason for my observation? I would get the IDs. Then I would create a list from it and continue to work with it.

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @chraibi on Jan 31, 2019, 11:06

@gjaeger The goal of this snippet is just to determine the `_numPeds`

Maybe in C++17 there is a more elegant way to do it than this, but your assumption is right:

[Line 283](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/PedData.cpp#L283)

[Line 320](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/me

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @gjaeger on Feb 4, 2019, 11:29

@chraibi: The short [trajectory file](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/e165ddee26765cb3b0da8d3c28da51cb/traj_uo-300-300-120_exp_extracted.txt) for you.

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @gjaeger on Feb 4, 2019, 11:32

@chraibi: The results of this morning: 3895e194aa3761f58dd068d44286c0dbc89f8c53

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @gjaeger on Feb 11, 2019, 10:03

assigned to @chraibi

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @chraibi on Mar 3, 2019, 19:35

mentioned in merge request !15

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @chraibi on Mar 3, 2019, 19:37

mentioned in commit 0fa81773950c35a373ad31ad5cb11303446b6cb1

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @chraibi on Mar 3, 2019, 19:37

closed via merge request !15

[2019-07-11 16:36] chraibi commented on #66
In Gitlab by @chraibi on Mar 3, 2019, 19:38

changed title from **{-Method D | -}IndividualFD file use wrong PersID** to **IndividualFD file use wrong PersID**

[2019-07-11 16:36] #66 closed

[2019-07-11 16:36] chraibi opened #67 "Method D | number of the pedestrian is small"
In Gitlab by @gjaeger on Feb 4, 2019, 14:38 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/99)]

[code]

see [Method_D.cpp, line 216](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/Method_D.cpp#L216)

[2019-07-11 16:36] chraibi commented on #67
In Gitlab by @gjaeger on Feb 4, 2019, 19:50

Why is there the limit of three agents? (`NumPeds>3`)

[2019-07-11 16:36] chraibi commented on #67
In Gitlab by @chraibi on Feb 4, 2019, 21:09

Because it's not possible to calculate a Voronoi Diagram with 2 points or less.

[2019-07-11 16:36] chraibi commented on #67
In Gitlab by @gjaeger on Feb 5, 2019, 11:54

In other words: Why is the number limited if we limit the cell with the parameter `cut_by_circle`?

[2019-07-11 16:36] chraibi commented on #67
In Gitlab by @chraibi on Feb 6, 2019, 10:33

This parameter is to limit the *cell*. But this cell can not be calculated with 2 points or less.

[2019-07-11 16:36] chraibi commented on #67
In Gitlab by @gjaeger on Feb 6, 2019, 10:58

Why do we need the Voronoi method in this case?

[2019-07-11 16:36] chraibi commented on #67
In Gitlab by @chraibi on Feb 6, 2019, 11:05

In the trivial case, where only 1 or 2 pedestrians are in the scenario, we can't calculate a Voronoi cell.

[2019-07-11 16:36] chraibi commented on #67
In Gitlab by @gjaeger on Feb 6, 2019, 11:21

In the trivial case, we lose a few frames. This is bad. We can't use it to analyze a solo run.

[2019-07-11 16:37] chraibi commented on #67
In Gitlab by @gjaeger on Feb 7, 2019, 09:50

Further consideration in issue #96 (Method I).

[2019-07-11 16:37] chraibi commented on #67
In Gitlab by @gjaeger on Feb 7, 2019, 09:50

closed

[2019-07-11 16:37] #67 closed

[2019-07-11 16:37] chraibi opened #68 "Segmentation fault for huge trajectory files"
In Gitlab by @anna-braun on Mar 1, 2019, 10:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/100)]

I wanted to do some calculations with jpsreport, but generated a segmentation fault:
![segmentation_fault](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/77ddd4a66f89d6f74dac7a43f84f42f8/segmentation_fault.png)

The trajectory file has about 2GB.
You can f

[2019-07-11 16:37] chraibi commented on #68
In Gitlab by @anna-braun on Mar 2, 2019, 20:16

changed the description

[2019-07-11 16:37] chraibi commented on #68
In Gitlab by @chraibi on Mar 3, 2019, 12:21

@anna-braun  can you run the following [code](https://gitlab.version.fz-juelich.de/snippets/50) with your file?

[2019-07-11 16:37] chraibi commented on #68
In Gitlab by @chraibi on Mar 3, 2019, 19:40

created branch [`100-huge-trajectory-files`](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/compare/develop...100-huge-trajectory-files) to address this issue

[2019-07-11 16:37] chraibi commented on #68
In Gitlab by @chraibi on Mar 3, 2019, 19:51

@anna-braun is this a txt or an **xml** file?
:thinking:

[2019-07-11 16:37] chraibi commented on #68
In Gitlab by @anna-braun on Mar 4, 2019, 08:16

It is txt, but it does not work for xml as well.

[2019-07-11 16:37] chraibi opened #69 "Refactor readGeometry"
In Gitlab by @chraibi on Mar 6, 2019, 13:57 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/101)]

Initilisation of geometry is method dependent.

[2019-07-11 16:37] chraibi commented on #69
In Gitlab by @chraibi on Mar 23, 2019, 04:56

The initialisation of geometry is now outside this method and is triggered independently of the used method 45d7003e5efa95b50ec1e2c47190cfabf17a40a1

[2019-07-11 16:37] chraibi commented on #69
In Gitlab by @chraibi on Mar 23, 2019, 04:56

closed

[2019-07-11 16:37] chraibi commented on #69
In Gitlab by @gjaeger on Mar 23, 2019, 10:54

short comprehension question:
Has this been adopted in the branch `develop` with merge-request !15?

[2019-07-11 16:37] chraibi commented on #69
In Gitlab by @chraibi on Mar 23, 2019, 16:05

Yes, it's merged in develop.

[2019-07-11 16:37] #69 closed

[2019-07-11 16:37] chraibi opened #70 "Method I | velocity"
In Gitlab by @gjaeger on Mar 7, 2019, 14:35 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/103)]

**version**
v0.8.3-74-g0fa8177

**result**
For trajectory files with non-consecutive `PersID`, it seems that there is a bug in calculating the speed (PersID 98, 100 and 118).

![PersID_096](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/43e9e9ad86b71c2481949a

[2019-07-11 16:37] chraibi commented on #70
In Gitlab by @gjaeger on Mar 7, 2019, 14:45

changed the description

[2019-07-11 16:37] chraibi commented on #70
In Gitlab by @gjaeger on Mar 7, 2019, 14:47

changed the description

[2019-07-11 16:37] chraibi commented on #70
In Gitlab by @gjaeger on Mar 7, 2019, 16:23

[traj_uo-300-300-120_exp_extracted.txt](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/796468072432aabaeeda91a02b7f49a3/traj_uo-300-300-120_exp_extracted.txt)

[ini_UO-300-300-120_exp_extracted.xml](/uploads/ce0d1c5e8c7796ca4be5ff39bd4daf1c/ini_UO-300-300-120_exp_extracted.xml)

[geo_UO_300-300-120.xml](/uploads/4678181acfa81edcd3c8e836

[2019-07-11 16:37] chraibi commented on #70
In Gitlab by @chraibi on Mar 14, 2019, 19:14

mentioned in merge request !16

[2019-07-11 16:38] chraibi commented on #70
In Gitlab by @chraibi on Mar 14, 2019, 19:14

mentioned in commit edbf874b785de70abfed8486b508373660a44b12

[2019-07-11 16:38] chraibi commented on #70
In Gitlab by @chraibi on Mar 14, 2019, 19:14

closed via merge request !16

[2019-07-11 16:38] chraibi commented on #70
In Gitlab by @chraibi on May 22, 2019, 14:28

mentioned in merge request !17

[2019-07-11 16:38] chraibi commented on #70
In Gitlab by @chraibi on May 22, 2019, 14:28

mentioned in commit 05d6669f4cbf58a5f0e1cadddfc3350a2884dd30

[2019-07-11 16:38] chraibi commented on #70
In Gitlab by @chraibi on May 22, 2019, 14:29

mentioned in merge request !18

[2019-07-11 16:38] #70 closed

[2019-07-11 16:38] chraibi opened #71 "compilation failed"
In Gitlab by @mirakuepper on Mar 22, 2019, 12:47 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/104)]

I want to use Method I and therefore tried to update *jpsreport* (last commit edbf874b78)

`cmake ..` in `/build`:

[code]

`make &> make_protocol.log`

result: :x: with errors [make_protocol.log](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/07b0b1564c

[2019-07-11 16:38] chraibi commented on #71
In Gitlab by @chraibi on Mar 22, 2019, 14:32

Try to compile with `g++`

[code]

If you don't have `g++` yet, try to install it

[code]

See also [snippet](https://gitlab.version.fz-juelich.de/snippets/45)

[2019-07-11 16:38] chraibi commented on #71
In Gitlab by @mirakuepper on Mar 25, 2019, 10:16

Thanks. Now it workes!

[2019-07-11 16:38] chraibi commented on #71
In Gitlab by @mirakuepper on Mar 25, 2019, 10:16

closed

[2019-07-11 16:38] #71 closed

[2019-07-11 16:38] chraibi opened #72 "Method I | "isOneDimensional" parameter"
In Gitlab by @subaih1 on Apr 12, 2019, 22:01 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/106)]

In inifile `isOneDimensional` parameter is not work. I get no results

[2019-07-11 16:38] chraibi commented on #72
In Gitlab by @chraibi on Apr 13, 2019, 00:02

Please post an inifile, a geometry and a trajectory file. Otherwise, we can not reproduce this bug.

Now that you did not upload the files, I can only guess:

- this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/Analysis.cpp#L475) shows that
`method_I.SetDimensional(_isOneDimensional);`

However, this may not be executed i

[2019-07-11 16:38] chraibi commented on #72
In Gitlab by @gjaeger on Jun 14, 2019, 10:23

@subaih1 Does the problem persist?

Can you post an inifile, a geometry and a trajectory file?

[2019-07-11 16:38] chraibi commented on #72
In Gitlab by @subaih1 on Jun 28, 2019, 12:40

@gjaeger No it works now

Of course, here is the geometry, inifile, and one of the data files:

[geometry.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/222bfb23dcf595837cbcfcabd82346dc/geometry.xml)

[inifile.xml](/uploads/de66e97036ef0bf08f7a3b1dc5bfc538/inifile.xml)

[UX_14_1.txt](/uploads/0d97e69e03b8321c5bee0d7ab81a9498/UX_14

[2019-07-11 16:38] chraibi commented on #72
In Gitlab by @gjaeger on Jun 30, 2019, 14:56

Ok.

@subaih1 You don't use `one_dimensional enabled="true"` in your inifile.

[code]

I can't reproduce your problem.

[2019-07-11 16:38] chraibi opened #73 "Using both method D and I is not safe!"
In Gitlab by @gjaeger on Jun 4, 2019, 12:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/108)]

In a pre-test for issue #102, I noticed the following error: Method D and I can not be used simultaneously. The data  file for individual fundamental diagram in the given measurement area (Method D) is empty.

This agrees with [line 187](https://gitlab.version.fz-juelich.de/j

[2019-07-11 16:38] chraibi commented on #73
In Gitlab by @gjaeger on Jun 4, 2019, 18:08

I create a new feature [branch](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/tree/issue108).

[2019-07-11 16:38] chraibi commented on #73
In Gitlab by @gjaeger on Jun 4, 2019, 18:11

Proposal for Modification of Method I based on [documentation (WIP)](https://github.com/gjaeger/jpsreport/blob/gh-pages/_posts/2016-11-01-inifile.md#method-i):

### Method I

[code]

Possible parameters are:

- For each `measurement_area`, several id numbers can be set in one inifile.
  `start_frame` and `stop_frame` give the starting and ending frame f

[2019-07-11 16:39] chraibi commented on #73
In Gitlab by @gjaeger on Jun 4, 2019, 18:16

Analysis.cpp (line 158 ff):

[code]

@chraibi Any ideas for a solution?

[2019-07-11 16:39] chraibi commented on #73
In Gitlab by @gjaeger on Jun 4, 2019, 18:23

a few comments to [my note](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/108#note_30777):

Compared to method D, I would reduce the input parameters. The plot function is not required. I want to get individual data with Method I. The choice is not required. So we can set the parameter `_calcIndividualFD`to `true` (see [_Method_I.cpp, l

[2019-07-11 16:39] chraibi commented on #73
In Gitlab by @gjaeger on Jun 5, 2019, 09:26

The data file `rho_v_Voronoi_` (Method D) is also empty.

[2019-07-11 16:39] chraibi commented on #73
In Gitlab by @gjaeger on Jun 13, 2019, 23:26

mentioned in merge request !20

[2019-07-11 16:39] chraibi commented on #73
In Gitlab by @gjaeger on Jun 13, 2019, 23:39

my solution in `Analysis.h` and `Analysis.cpp`:

I rename the variable `_geoPoly` to `_geoPolyMethodD` for Method D. For Method I, I rename the variable to `_geoPolyMethodI`.

[2019-07-11 16:39] chraibi commented on #73
In Gitlab by @gjaeger on Jun 19, 2019, 16:08

closed after merge-request !20

[2019-07-11 16:39] chraibi commented on #73
In Gitlab by @gjaeger on Jun 19, 2019, 16:08

closed

[2019-07-11 16:39] #73 closed

[2019-07-11 16:39] chraibi opened #74 "Method I | measurement area"
In Gitlab by @gjaeger on Jun 5, 2019, 09:49 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/109)]

Method I can not be used for a limited measurement area.

From my example ([ini_Uebung_02b.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/e9deabefe5150f3e6d39d73a2b3ea635/ini_Uebung_02b.xml) with [geo_Uebung_02.xml](/uploads/3c7754c15b7cc447a7350826809ae

[2019-07-11 16:39] chraibi commented on #74
In Gitlab by @gjaeger on Jun 14, 2019, 00:35

commit cb7fd2f255df7daa4d236fd901009ca42466d367 does not solve this problem.

[2019-07-11 16:39] chraibi commented on #74
In Gitlab by @gjaeger on Jun 17, 2019, 11:21

After today's discussion: Method I is not intended for the evaluation of small measuring surfaces.

I adapt the documentation.

@chraibi Can we close the issue?

[2019-07-11 16:39] chraibi commented on #74
In Gitlab by @chraibi on Jun 17, 2019, 11:23

Yes.

[2019-07-11 16:39] chraibi commented on #74
In Gitlab by @gjaeger on Jun 17, 2019, 11:24

closed.

[2019-07-11 16:39] chraibi commented on #74
In Gitlab by @gjaeger on Jun 17, 2019, 11:24

closed

[2019-07-11 16:39] #74 closed

[2019-07-11 16:39] chraibi opened #75 "Manual: Trajectory - XML format"
In Gitlab by @gjaeger on Jun 29, 2019, 13:49 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/111)]

@chraibi Is this description of trajectory information ([online](http://www.jupedsim.org/jpsreport/2016-11-03-trajectory.html#xml-format) | 2016-11-03-trajectory.md line 51) still necessary?

[code]

I have't found a corresponding function or output in [jpscore](http://www.j

[2019-07-11 16:39] chraibi commented on #75
In Gitlab by @gjaeger on Jun 29, 2019, 13:50

changed the description

[2019-07-11 16:39] chraibi commented on #75
In Gitlab by @chraibi on Jun 30, 2019, 17:50

If you use a txt file produced by jpscore, then all the columns after the coordinates will be ignored.

This is the reason behind this note in the documentation

[2019-07-11 16:39] chraibi commented on #75
In Gitlab by @gjaeger on Jun 30, 2019, 17:55

I understand.

These columns are not created by jpscore. I have't found a corresponding function or output. This information is no longer required. Am I wrong?

[2019-07-11 16:40] chraibi commented on #75
In Gitlab by @chraibi on Jun 30, 2019, 19:05

Yes, that's right. The format of the file has changed. The velocity information is not written in the xml file.

If you have time, would you like to update the documentation?

[2019-07-11 16:40] chraibi commented on #75
In Gitlab by @gjaeger on Jun 30, 2019, 19:37

@chraibi see pull request 3 ([GitHub](https://github.com/JuPedSim/jpsreport/pull/3))

[2019-07-11 16:40] chraibi commented on #75
In Gitlab by @gjaeger on Jun 30, 2019, 19:39

closed after merge (GitHub).

[2019-07-11 16:40] chraibi commented on #75
In Gitlab by @gjaeger on Jun 30, 2019, 19:39

closed

[2019-07-11 16:40] #75 closed

[2019-07-11 16:40] chraibi opened #76 "Master develop - [merged]"
In Gitlab by @chraibi on Oct 13, 2017, 16:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/2)]

_Merges master_develop -> master_

[2019-07-11 16:40] chraibi commented on #76
In Gitlab by @chraibi on Oct 13, 2017, 16:44

merged

[2019-07-11 16:40] chraibi commented on #76
In Gitlab by @chraibi on Oct 13, 2017, 16:44

mentioned in commit d4d4cc86ac449a2d7fabdbbe337321afcafe8dab

[2019-07-11 16:40] #76 closed

[2019-07-11 16:40] chraibi opened #78 ":fix: for VisualStudio - [merged]"
In Gitlab by @chraibi on May 7, 2018, 17:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/4)]

_Merges issue_76 -> develop_

[2019-07-11 16:40] chraibi commented on #78
In Gitlab by @chraibi on May 7, 2018, 17:22

enabled an automatic merge when the pipeline for 78ce293ac3be85b2deed6685251e62b76d6944ed succeeds

[2019-07-11 16:40] chraibi commented on #78
In Gitlab by @chraibi on May 8, 2018, 21:35

added 1 commit

<ul><li>f83e3a0b - add tag to trigger CI runner</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/4/diffs?diff_id=535&start_sha=78ce293ac3be85b2deed6685251e62b76d6944ed)

[2019-07-11 16:40] chraibi commented on #78
In Gitlab by @chraibi on May 8, 2018, 21:45

mentioned in commit e801f2a3e725ead6177ec7fdd3eba3e92c649061

[2019-07-11 16:40] chraibi commented on #78
In Gitlab by @chraibi on May 8, 2018, 21:45

merged

[2019-07-11 16:41] #78 closed

[2019-07-11 16:41] chraibi opened #79 "WIP: Resolve "git branch, revision, date and compile information" - [closed]"
In Gitlab by @chraibi on May 14, 2018, 13:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/6)]

_Merges 79-git-branch-revision-date-and-compile-information -> develop_

Closes #79

[2019-07-11 16:41] chraibi commented on #79
In Gitlab by @chraibi on May 14, 2018, 13:40

closed

[2019-07-11 16:41] #79 closed

[2019-07-11 16:41] chraibi opened #80 "Issue 79 - [merged]"
In Gitlab by @chraibi on May 14, 2018, 13:23 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7)]

_Merges issue_79 -> develop_

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 14, 2018, 18:00

added 1 commit

<ul><li>8184913c - :fix: pipeline and remove git subject</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7/diffs?diff_id=540&start_sha=e9d05110eac1e3f466e1d0a1b9819142f4ddc8e6)

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 14, 2018, 18:08

added 25 commits

<ul><li>8184913c...b7badd30 - 24 commits from branch <code>develop</code></li><li>4f0c43b6 - Merge branch &#39;develop&#39; into &#39;issue_79&#39;</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7/diffs?diff_id=541&start_sha=8184913c9afe07b21c538a515e470ba32c8808b2)

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 14, 2018, 18:13

added 1 commit

<ul><li>681ad21c - Runner can not find Git</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7/diffs?diff_id=542&start_sha=4f0c43b6ba99da103c63af30231bc7cf65acce86)

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 14, 2018, 18:14

added 1 commit

<ul><li>ccab8c3a - Require package Git to be found</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7/diffs?diff_id=543&start_sha=681ad21caf8bd6f331b05005a6524298728c50f6)

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 14, 2018, 18:37

added 1 commit

<ul><li>60bb4acc - remove unnecessary message</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7/diffs?diff_id=544&start_sha=ccab8c3ae02eb010a7c003b78630c6dcd02aa039)

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 14, 2018, 18:41

added 1 commit

<ul><li>38c804fc - debugging the git location on runner</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7/diffs?diff_id=545&start_sha=60bb4accf66713335509d51e40df1337d948fd50)

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 14, 2018, 20:10

added 1 commit

<ul><li>de0fc2be - :bug: fix import of dirent.h on non-windows</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7/diffs?diff_id=546&start_sha=38c804fc720f07ff84fade324b155b8d89618caf)

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 14, 2018, 20:22

added 1 commit

<ul><li>ccd63adf - Remove optional --version argument</li></ul>

[Compare with previous version](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/7/diffs?diff_id=547&start_sha=de0fc2bea2371fe2c6202a0fb8feb23cb735eb4a)

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 15, 2018, 10:15

merged

[2019-07-11 16:41] chraibi commented on #80
In Gitlab by @chraibi on May 15, 2018, 10:15

mentioned in commit e26550b48ab14ea0334092133db6d147509493aa

[2019-07-11 16:41] #80 closed

[2019-07-11 16:43] chraibi opened #83 "Issue84 - [merged]"
In Gitlab by @chraibi on Oct 9, 2018, 18:49 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/12)]

_Merges issue84 -> develop_

Adds output to the individualFDtraj* files.

See also issue #84 for discussion about limitations of method D.

[2019-07-11 16:43] chraibi commented on #83
In Gitlab by @chraibi on Oct 9, 2018, 18:49

merged

[2019-07-11 16:43] chraibi commented on #83
In Gitlab by @chraibi on Oct 9, 2018, 18:49

mentioned in commit 3dc868aea0916d7185247da310b20e0c5fac3da6

[2019-07-11 16:43] #83 closed

[2019-07-11 16:43] chraibi opened #84 "WIP: Resolve "Output folder | alternative location and name" - [closed]"
In Gitlab by @chraibi on Nov 9, 2018, 18:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/13)]

_Merges 91-output-folder-alternative-location-and-name -> develop_

Closes #91

[2019-07-11 16:43] chraibi commented on #84
In Gitlab by @chraibi on Nov 9, 2018, 18:57

assigned to @chraibi

[2019-07-11 16:43] chraibi commented on #84
In Gitlab by @chraibi on Nov 9, 2018, 19:03

usage:

[code]

- todo: test it
- todo: use `fs::path` instead of `string` for path operations. !10

[2019-07-11 16:43] chraibi commented on #84
In Gitlab by @gjaeger on Nov 9, 2018, 19:06

I'm checking it right now.

[2019-07-11 16:43] chraibi commented on #84
In Gitlab by @gjaeger on Nov 9, 2018, 20:10

see [comment](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/91#note_24511) in #91

[2019-07-11 16:43] chraibi commented on #84
In Gitlab by @chraibi on Nov 11, 2018, 07:46

this MR is going to be replaced by !10.

[2019-07-11 16:43] chraibi commented on #84
In Gitlab by @chraibi on Nov 11, 2018, 07:46

closed

[2019-07-11 16:43] #84 closed

[2019-07-11 16:44] chraibi opened #89 "Method D and I modifications - [merged]"
In Gitlab by @gjaeger on Jun 13, 2019, 23:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/20)]

_Merges issue108 -> develop_

solution for issue #108, modifications for issue #105 and #88

[2019-07-11 16:45] chraibi commented on #89
In Gitlab by @chraibi on Jun 19, 2019, 14:57

unmarked as a **Work In Progress**

[2019-07-11 16:45] chraibi commented on #89
In Gitlab by @chraibi on Jun 19, 2019, 14:59

Did you test this with method D and method I at the same time?

[2019-07-11 16:45] chraibi commented on #89
In Gitlab by @gjaeger on Jun 19, 2019, 15:36

yes, it works (see [comment](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/108#note_30938), issue #108).

[2019-07-11 16:45] chraibi commented on #89
In Gitlab by @chraibi on Jun 19, 2019, 16:03

merged

[2019-07-11 16:45] chraibi commented on #89
In Gitlab by @chraibi on Jun 19, 2019, 16:03

mentioned in commit 256fcad6e6662475dcf5ec54dfe11cbc252ef9d6

[2019-07-11 16:45] #89 closed

[2019-07-11 19:38] chraibi opened #91 "Cutting voronoi cells with non convex polygons lead to wrong results"
In Gitlab by @chraibi on Jun 24, 2014, 14:04 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/3)]

null

[2019-07-11 19:38] chraibi commented on #91
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 19:38] #91 closed

[2019-07-11 19:38] chraibi opened #92 "How to calculate the results for complex geometries when there are more than two subrooms (also with concave involved)"
In Gitlab by @chraibi on Oct 29, 2014, 15:30 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/5)]

Another point may be also considered: how to set more than one measurement areas in one geometry

[2019-07-11 19:38] chraibi commented on #92
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 19:39] chraibi commented on #92
In Gitlab by @chraibi on Jul 11, 2019, 19:33

mentioned in commit 5b2ba8064c052fcab3b5afb5f37926abd8eebec1

[2019-07-11 19:39] #92 closed

[2019-07-11 19:39] chraibi opened #93 "Create directory with boost file_system"
In Gitlab by @chraibi on Oct 31, 2014, 14:20 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/8)]

In current version 'mkdir' is used, which might not work on other systems

[2019-07-11 19:39] chraibi commented on #93
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 19:39] chraibi commented on #93
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by chraibi on 31 Oct 2014, 14:55_

---

in which file is "mkdir" used?

[2019-07-11 19:39] chraibi commented on #93
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by zhang on 31 Oct 2014, 15:08_

---

In Aanlysis.cpp, The function OutputVoronoiGraph() @chraibi

[2019-07-11 19:39] #93 closed

[2019-07-11 19:42] chraibi opened #94 "unit issues cm and metres"
In Gitlab by @chraibi on Nov 14, 2014, 10:50 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/12)]

the last commit update the geometry assumes metre
but the latest versions of the scripts are still using cm

[2019-07-11 19:42] chraibi commented on #94
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 19:42] #94 closed

[2019-07-11 19:42] chraibi opened #95 "installation procedure eclipse windows"
In Gitlab by @chraibi on Nov 27, 2014, 18:40 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/16)]

Tutorial for developement in the wiki page

[2019-07-11 19:42] chraibi commented on #95
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 19:42] chraibi commented on #95
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by zhang on 09 Dec 2014, 13:48_

---

Finished! @piccolodream

[2019-07-11 19:42] #95 closed

[2019-07-11 19:42] chraibi opened #96 "Voronoi cell crashed"
In Gitlab by @chraibi on Dec 4, 2014, 13:03 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/17)]

null

[2019-07-11 19:42] chraibi commented on #96
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 19:42] chraibi commented on #96
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by chraibi on 04 Dec 2014, 12:26_

---

@Weichen could you please be more specific?  Maybe it just crashes, because your laptop has no power? Or because you hard disk is full? :sunglasses:

1. When does is crash?
2. Which input file does make it crash?

[2019-07-11 19:42] chraibi commented on #96
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by Weichen on 04 Dec 2014, 12:54_

---

@chraibi It crashed because the cut of polygon is wrong. Jun is solving this problem.

[2019-07-11 19:42] chraibi commented on #96
In Gitlab by @chraibi on Dec 17, 2016, 08:18

_Original comment by zhang on 09 Dec 2014, 13:47_

---

Solved

[2019-07-11 19:42] #96 closed

[2019-07-11 19:42] chraibi opened #97 "mutations in time series of density and speed"
In Gitlab by @chraibi on Dec 8, 2014, 09:44 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/18)]

There are some mutations in the time series of density and speed. See attachment.

[2019-07-11 19:42] chraibi commented on #97
In Gitlab by @chraibi on Dec 17, 2016, 08:18

closed

[2019-07-11 19:42] chraibi commented on #97
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by Weichen on 08 Dec 2014, 08:45_

---

time series of density

[2019-07-11 19:42] chraibi commented on #97
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by Weichen on 08 Dec 2014, 08:45_

---

time series of speed

[2019-07-11 19:43] chraibi commented on #97
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 09 Dec 2014, 13:45_

---

The error comes from the input geometry file, but not JPSreport!

[2019-07-11 19:43] #97 closed

[2019-07-11 19:43] chraibi opened #98 "add option to calculate results for more than one measurement area"
In Gitlab by @chraibi on Dec 11, 2014, 16:42 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/19)]

null

[2019-07-11 19:43] chraibi commented on #98
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:43] #98 closed

[2019-07-11 19:43] chraibi opened #99 "JPSreport crashes with geometry version 0.5"
In Gitlab by @chraibi on Jan 13, 2015, 12:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/20)]

Hi,
JPSreport gives me this Error:

"terminate called after throwing an instance of 'boost::geometry::overlay_invalid_input_exception'
what(): Boost.Geometry Overlay invalid input exception

This application has requested the Runtime to terminate it in an unusual way.
Please

[2019-07-11 19:43] chraibi commented on #99
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:43] chraibi commented on #99
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 15 Jan 2015, 08:10_

---

Can you please send me the inifile, geometry file as well as the trajectory file with which the error appear? @hanbod

[2019-07-11 19:43] chraibi commented on #99
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by hanbod on 15 Jan 2015, 08:23_

---

Yes, of course. I'll send them to you via mail immediately.

[2019-07-11 19:43] chraibi commented on #99
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 15 Jan 2015, 15:18_

---

fixed in the new version!

[2019-07-11 19:43] #99 closed

[2019-07-11 19:43] chraibi opened #100 "Documentation"
In Gitlab by @chraibi on Jan 15, 2015, 13:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/21)]

Please add the files: LICENSE, AUTHORS, README.
Use the LICENSE file from jpscore.

Adapt the header of the new files and add the version number (v0.6)

[2019-07-11 19:43] chraibi commented on #100
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:43] #100 closed

[2019-07-11 19:43] chraibi opened #101 "change the type of fps from integer to float?"
In Gitlab by @chraibi on Apr 20, 2015, 08:52 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/25)]

null

[2019-07-11 19:43] chraibi commented on #101
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:43] #101 closed

[2019-07-11 19:43] chraibi opened #102 "Location of scripts files"
In Gitlab by @chraibi on May 5, 2015, 11:09 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/26)]

The location of the scripts/plotting files should be specified in the  the ini file.

[2019-07-11 19:43] chraibi commented on #102
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:44] chraibi commented on #102
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 12 Jun 2015, 09:18_

---

finish

[2019-07-11 19:44] #102 closed

[2019-07-11 19:44] chraibi opened #103 "change frame to time in output results"
In Gitlab by @chraibi on Jul 8, 2015, 13:06 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/31)]

For instance
[code]
should be (Option 1)
[code]
or (Option 2)

[code]

[2019-07-11 19:44] chraibi commented on #103
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:44] chraibi commented on #103
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 08 Jul 2015, 11:08_

---

@Weichen why?

[2019-07-11 19:44] chraibi commented on #103
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by kemloh on 08 Jul 2015, 13:35_

---

The framenumber alone in the output files is not enough. you need to give the framerate as well (option 2), of just combine both and give the time directly (option 1).

But as Jun meintion, for debugging it might be easier to first stick with frame (since trajectories, simulation, experiment) are

[2019-07-11 19:44] chraibi commented on #103
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 08 Jul 2015, 13:37_

---

@piccolodream yes I too would stick with the frame and give `fps` in the header.

[code]

[2019-07-11 19:44] #103 closed

[2019-07-11 19:44] chraibi opened #104 "plot geometry information when plotting Voronoi cells"
In Gitlab by @chraibi on Jul 9, 2015, 15:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/32)]

null

[2019-07-11 19:44] chraibi commented on #104
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:44] chraibi commented on #104
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 16 Oct 2015, 16:16_

---

finished

[2019-07-11 19:44] #104 closed

[2019-07-11 19:44] chraibi opened #105 "Method D: no raw data when output_graph="false""
In Gitlab by @chraibi on Jul 9, 2015, 15:54 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/33)]

When using Method D without the intention to plot voronoi cells, no raw data is stored when flag output_graph="false".

[2019-07-11 19:44] chraibi commented on #105
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:44] chraibi commented on #105
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 22 Sep 2015, 15:23_

---

@schroederbenjamin Now a switch is added!

[2019-07-11 19:44] #105 closed

[2019-07-11 19:44] chraibi opened #106 "FD with periodic conditions"
In Gitlab by @chraibi on Sep 16, 2015, 16:38 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/35)]

Simulations with periodical boundaries are not working.

[2019-07-11 19:44] chraibi commented on #106
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:44] chraibi commented on #106
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 16 Sep 2015, 15:09_

---

method_C works fine. Method_D does *not*

[2019-07-11 19:44] chraibi commented on #106
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 16 Sep 2015, 19:07_

---

@zhang jpsreport should give a warning if the calculation with Voronoi diagrams is not possible.

[2019-07-11 19:44] chraibi commented on #106
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 09 Oct 2015, 13:52_

---

solved！

[2019-07-11 19:45] #106 closed

[2019-07-11 19:45] chraibi opened #107 "Add option to disable ploting if not needed"
In Gitlab by @chraibi on Sep 16, 2015, 16:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/36)]

Something like this

[code]

[2019-07-11 19:45] chraibi commented on #107
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:45] chraibi commented on #107
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 22 Sep 2015, 16:05_

---

@chraibi and @schroederbenjamin The options are added for Method A, C and D! please check it!

[2019-07-11 19:45] #107 closed

[2019-07-11 19:45] chraibi opened #108 "Geometry file is related to trajectory file"
In Gitlab by @chraibi on Oct 7, 2015, 15:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/37)]

Every trajectory file (from `jpscore` for instance) has its own geometry file.

Use this file instead of the geometry file defined within `jpsreport_inifile`.

[2019-07-11 19:45] chraibi commented on #108
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:45] chraibi commented on #108
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 26 Dec 2015, 13:05_

---

@zhang any updates?

[2019-07-11 19:45] chraibi commented on #108
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 26 Dec 2015, 13:05_

---

anguished

[2019-07-11 19:45] #108 closed

[2019-07-11 19:45] chraibi opened #109 "Windows: blanks in file paths"
In Gitlab by @chraibi on Nov 5, 2015, 14:37 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/38)]

When the reference to the scripts folder comprises a blank, JPSreport fails.

encountered on a Windows System

[2019-07-11 19:45] chraibi commented on #109
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:45] chraibi commented on #109
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 14 Dec 2015, 10:25_

---

mentioned in commit 0fffac476dfd3e3465cd867ad3c76d5db5015a93

[2019-07-11 19:45] chraibi commented on #109
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 14 Dec 2015, 10:25_

---

@schroederbenjamin Solved!

[2019-07-11 19:45] chraibi commented on #109
In Gitlab by @zhangjun714 on Sep 29, 2017, 21:04

mentioned in commit afe05a641d31964b44b9160371c288f0b2a3fcf1

[2019-07-11 19:45] chraibi commented on #109
In Gitlab by @zhangjun714 on Sep 29, 2017, 21:04

mentioned in commit fb22c9caa7f3e518a8b2d9f85fdcf0f863e3f68b

[2019-07-11 19:45] #109 closed

[2019-07-11 19:45] chraibi opened #110 "Boost"
In Gitlab by @chraibi on Dec 4, 2015, 09:50 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/39)]

Right now Boost-libraries are somehow hard-wired in the code.
This should be changed.

The code should compile using Boost (no matter what version).

[2019-07-11 19:45] chraibi commented on #110
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 26 Dec 2015, 13:05_

---

@zhang we need to get ride of self-hosted boost libraries

[2019-07-11 19:46] chraibi commented on #110
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 26 Dec 2015, 13:05_

---

anguished

[2019-07-11 19:46] chraibi commented on #110
In Gitlab by @chraibi on Oct 13, 2017, 17:58

closed

[2019-07-11 19:46] #110 closed

[2019-07-11 19:46] chraibi opened #111 "usage of JPSreport on stair subrooms"
In Gitlab by @chraibi on Dec 10, 2015, 08:39 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/40)]

When using bounding boxes on stair subrooms, the projected (2D) walking speed(s) get(s) evaluated. Effectively, the walking speeds are higher as the agents move in z-direction as well.

proposted change:
inclusion of an attribute "angle" that can be used to correct the result

[2019-07-11 19:46] chraibi commented on #111
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 15 Dec 2015, 13:46_

---

@schroederbenjamin In JPSreport, average density and velocities are calculated over measurement area. Yes, your are true. the individual velocities are under-evaluated for stairs.
I would use the velocities along the stairs to calculate the mean values. But for density calculation, I would remain

[2019-07-11 19:46] chraibi commented on #111
In Gitlab by @chraibi on Feb 21, 2017, 14:00

We need to generalize all the methods in order to use 3D points `(x, y, z)`. Actually, `z` is not used, therefore the velocity calculation is not accurate.

[2019-07-11 19:46] chraibi opened #112 "Reduce size of repository"
In Gitlab by @chraibi on Dec 16, 2015, 22:27 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/42)]

@zhang why is the size of jpsreport so big  (466 MB)?

[2019-07-11 19:46] chraibi commented on #112
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 26 Dec 2015, 13:04_

---

@zhang any idea?

[2019-07-11 19:46] chraibi commented on #112
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 26 Dec 2015, 13:04_

---

anguished

[2019-07-11 19:46] chraibi commented on #112
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by zhang on 25 Feb 2016, 15:58_

---

@chraibi do you know how to deal with this?

[2019-07-11 19:46] chraibi commented on #112
In Gitlab by @chraibi on Dec 17, 2016, 08:19

_Original comment by chraibi on 28 Feb 2016, 21:40_

---

Here  a listing of the large files:

![Screen_Shot_2016-02-28_at_22.38.25](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/6ccec767b8d16f6ebf20249b54927304/Screen_Shot_2016-02-28_at_22.38.25.png)

And of course we have ALL the boost stuff (**101MB**) which is not so nice.. #39

[2019-07-11 19:46] chraibi commented on #112
In Gitlab by @chraibi on Oct 13, 2017, 17:57

closed

[2019-07-11 19:46] #112 closed

[2019-07-11 19:46] chraibi opened #113 "Boost"
In Gitlab by @chraibi on Jan 19, 2016, 10:40 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/43)]

JPSreport requests the Runtime to terminate it in an unusual way.

![Boost](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/d7fc8d29b704e351d42ceda5fee4a0da/Boost.png)
[traj_UO_b200.txt](/uploads/b264f7f41b34ee2ad6db519b5f922153/traj_UO_b200.txt)
[geo_UO_b200.

[2019-07-11 19:46] chraibi commented on #113
In Gitlab by @chraibi on Dec 17, 2016, 08:19

closed

[2019-07-11 19:46] chraibi commented on #113
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 19 Jan 2016, 09:44_

---

@zhang if this Boost-problem can not be solved swiftly, then we have to consider moving to the last version of Boost asap.

[2019-07-11 19:46] chraibi commented on #113
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 06 Sep 2016, 17:07_

---

mentioned in commit 98af5090f1ef8a795a817b0194e5c468d8222c42

[2019-07-11 19:46] chraibi commented on #113
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 06 Sep 2016, 17:09_

---

@Weichen Please check the latest version using other trajectories. For the trajectory you supplying here now it works. It is due to the precision of the coordinates of each vertex.

[2019-07-11 19:46] chraibi commented on #113
In Gitlab by @zhangjun714 on Sep 29, 2017, 19:50

mentioned in commit 915b2b3ebf2d06bb5baee83f3564a769ff851f08

[2019-07-11 19:46] chraibi commented on #113
In Gitlab by @zhangjun714 on Sep 29, 2017, 21:04

mentioned in commit eb7969046c61d0bfc7e54ebbfecb2cc3c78431ac

[2019-07-11 19:47] #113 closed

[2019-07-11 19:47] chraibi opened #114 "Method A with varying FPS"
In Gitlab by @chraibi on Jan 19, 2016, 16:30 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/44)]

When using Method A with varying FPS, the data extraction seems not to work.

failed attempts for resolving:
- reposition of measurement line
- adjustment of ```<frame_interval/>```

a very basic example is attached. The problem occurs at ```<measurement_area id="3" /> ```
[r

[2019-07-11 19:47] chraibi commented on #114
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by b.schroeder on 29 Jan 2016, 12:15_

---

could you reproduce the error?

[2019-07-11 19:47] chraibi commented on #114
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 29 Jan 2016, 16:18_

---

@schroederbenjamin Please to be sure that there is trajectory information at both side of the measurement line. Otherwise, Method A does not work, because it is not possible to check whether the person go out or not.
When the fps is small, the trajectory information will be not so fine. The distan

[2019-07-11 19:47] chraibi commented on #114
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 29 Jan 2016, 16:20_

---

you can let pedestrian move a little bit more behind the exit to check it again. @schroederbenjamin

[2019-07-11 19:47] chraibi commented on #114
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 30 Jan 2016, 00:52_

---

Should jpsreport give a warning in this case?

[2019-07-11 19:47] chraibi commented on #114
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by b.schroeder on 30 Jan 2016, 16:16_

---

as I already have said, we repositioned the measurement line a couple of meters towards the centre of the room - no success. Did you check the supplied example?

[2019-07-11 19:47] chraibi commented on #114
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 31 Jan 2016, 13:48_

---

I see, the poisition of the measurement line with id 3 is y=7.05.
which is 16cm to the exit (y=7.21). If you check the trajectory file, you can find not all pedestrians' last y coordinates are larger than 7.05. for example, the agent with ID=21 left the room at frame 8. His last position is y=7.00

[2019-07-11 19:47] chraibi commented on #114
In Gitlab by @chraibi on Feb 21, 2017, 13:56

Please consider to extend the geometry such that ALL pedestrians are ensured to leave the geometry.

[2019-07-11 19:47] chraibi commented on #114
In Gitlab by @chraibi on Feb 21, 2017, 13:56

closed

[2019-07-11 19:47] #114 closed

[2019-07-11 19:47] chraibi opened #115 "path relative to inifile"
In Gitlab by @chraibi on Jan 31, 2016, 09:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/45)]

Path to geometry and trajectory file should be relative to the inifile path.

Example inifile:

[code]

calling jpsreport:

[code]

leads to the error:

[code]

[2019-07-11 19:47] chraibi commented on #115
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 19:47] chraibi commented on #115
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 31 Jan 2016, 13:58_

---

@chraibi the path was already relative to the inifile. But you have to assign the location of the trajectory file.please uncomment the path in the inifile.

	<trajectories format="xml" unit="m">
		<file name="router_goal_traj.xml" />
		<path location="./"/>
	</trajectories>

[2019-07-11 19:47] chraibi commented on #115
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 31 Jan 2016, 15:36_

---

Yes if I specify explicitly the path location it works.

But I was wondering why is this necessary.

The geometry file was parsed without problems, even if the location is not specified.

[2019-07-11 19:47] chraibi commented on #115
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 31 Jan 2016, 15:49_

---

sometimes trajectory files are not put in the same location. So 'trajectories' is given two options and both of them are used for parsing. Do you think the default case is current location would be better?

[2019-07-11 19:47] chraibi commented on #115
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 01 Feb 2016, 08:15_

---

I see. In my opinion the default location should be the inifile location.
That works also like this in jpscore. If you don't specify explicitly the location then it is fine. If not, then it is relative to the inifile.

[2019-07-11 19:47] chraibi commented on #115
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 01 Feb 2016, 11:50_

---

I change the code and now it works.

[2019-07-11 19:47] #115 closed

[2019-07-11 19:47] chraibi opened #116 "JPSreport on multi-storey geometries"
In Gitlab by @chraibi on Feb 12, 2016, 10:54 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/48)]

What happens with trajectories that have been computed in multi-storey geometries?
Will JPSreport analyse all trajectories inside a measurement area although they might be located along different storeys?

Might it be reasonable to specify a z coordinate (or maybe even a rang

[2019-07-11 19:48] chraibi commented on #116
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 19:48] chraibi commented on #116
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 12 Feb 2016, 11:08_

---

+1

[2019-07-11 19:48] chraibi commented on #116
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by b.schroeder on 22 Feb 2016, 13:35_

---

any suggestions?

[2019-07-11 19:48] chraibi commented on #116
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 22 Feb 2016, 14:23_

---

In current version, the measurement area for JPSreport should be located inside an unique subroom. JPSreport only analyze trajectories in the corresponding subroom.

[2019-07-11 19:48] chraibi commented on #116
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 25 Feb 2016, 15:56_

---

Yes, in current version z coordinates are not considered during analysis. We have to discuss it how to deal with this. @schroederbenjamin

[2019-07-11 19:48] #116 closed

[2019-07-11 19:48] chraibi opened #117 "The output format in one dimensional movement"
In Gitlab by @chraibi on Mar 11, 2016, 13:40 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/49)]

Now the output format(Individual_FD) of one dimensional movement(headway(m)) and two dimensional situation(Individual density(m^(-2))) are not uniform. Please check and revise the output format.

[2019-07-11 19:48] chraibi commented on #117
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 19:48] chraibi commented on #117
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 05 Apr 2016, 15:47_

---

mentioned in commit 3bcea7747692fdac4fbb96cd395eab70ba6a8654

[2019-07-11 19:48] chraibi commented on #117
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 05 Apr 2016, 15:48_

---

solved！

[2019-07-11 19:48] chraibi commented on #117
In Gitlab by @zhangjun714 on Sep 29, 2017, 19:50

mentioned in commit c1266d29377bf374e669bb74041ad176bcb0131e

[2019-07-11 19:48] chraibi commented on #117
In Gitlab by @zhangjun714 on Sep 29, 2017, 21:04

mentioned in commit 4ab645295537a1fa99cade804ed7b7a19f718a40

[2019-07-11 19:48] #117 closed

[2019-07-11 19:48] chraibi opened #118 "The calculation of individual_FD in more than one areas"
In Gitlab by @chraibi on Mar 24, 2016, 17:29 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/50)]

null

[2019-07-11 19:48] chraibi commented on #118
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 19:48] chraibi commented on #118
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 04 Apr 2016, 16:47_

---

mentioned in commit 78a86bef00fbf60fd5db47c2a55b11d7818e06ad

[2019-07-11 19:48] chraibi commented on #118
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 04 Apr 2016, 16:55_

---

Now the new feature is added. After measurement_area id, the options "start_frame" and "stop_frame" as well as "get_individual_FD" are added. If you want analyze all the data from the first frame to the last frame, please set them as "None" or remove the two options. As following:
measurement_area

[2019-07-11 19:48] chraibi commented on #118
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by chraibi on 29 Apr 2016, 16:30_

---

@zhang I don't find this new feature in the documentation. Where should I look?

[2019-07-11 19:48] chraibi commented on #118
In Gitlab by @zhangjun714 on Sep 29, 2017, 19:50

mentioned in commit 88699ad5071049f19e8a09aa0126b5e4fe0a683a

[2019-07-11 19:48] chraibi commented on #118
In Gitlab by @zhangjun714 on Sep 29, 2017, 21:04

mentioned in commit a98f5389a54967b14453ef044d460559c9138494

[2019-07-11 19:48] #118 closed

[2019-07-11 19:49] chraibi opened #119 "Specify specific range of frames to be analysed"
In Gitlab by @chraibi on Apr 4, 2016, 09:13 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/51)]

For the analysis of jams, it would be useful to specify a specific range of frames to be analysed by JPSreport. (METHOD D)

Proposal for the configuration file:

```start_frame="500" stop_frame="700"```

[2019-07-11 19:49] chraibi commented on #119
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 19:49] chraibi commented on #119
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 04 Apr 2016, 16:47_

---

mentioned in commit 78a86bef00fbf60fd5db47c2a55b11d7818e06ad

[2019-07-11 19:49] chraibi commented on #119
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 04 Apr 2016, 16:53_

---

Now the new feature is added.
After measurement_area id, the options "start_frame" and "stop_frame" as well as "get_individual_FD" are added. If you want analyze all the data from the first frame to the last frame, please set them as "None" or remove the two options. As following:

 measurement_ar

[2019-07-11 19:49] chraibi commented on #119
In Gitlab by @zhangjun714 on Sep 29, 2017, 19:50

mentioned in commit 88699ad5071049f19e8a09aa0126b5e4fe0a683a

[2019-07-11 19:49] chraibi commented on #119
In Gitlab by @zhangjun714 on Sep 29, 2017, 21:04

mentioned in commit a98f5389a54967b14453ef044d460559c9138494

[2019-07-11 19:49] #119 closed

[2019-07-11 19:49] chraibi opened #120 "Online documentation needs checking"
In Gitlab by @chraibi on Aug 8, 2016, 15:28 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/53)]

check images please

[2019-07-11 19:49] chraibi commented on #120
In Gitlab by @chraibi on Feb 21, 2017, 14:03

closed

[2019-07-11 19:49] #120 closed

[2019-07-11 19:49] chraibi opened #121 "Issues with parsing tag <velocity>"
In Gitlab by @chraibi on Sep 15, 2016, 18:01 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/56)]

The parsing assumed the existence of this line

[code]
This line however,

[code]

leads to segmentation fault.

These options are not mandatory and default values should be considered.

[2019-07-11 19:49] chraibi commented on #121
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 19:49] chraibi commented on #121
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 20 Sep 2016, 15:21_

---

mentioned in commit decdd6df63a54c1d478d62416f2afe3d8a7eacfc

[2019-07-11 19:49] chraibi commented on #121
In Gitlab by @zhangjun714 on Sep 29, 2017, 19:50

mentioned in commit ab9c8498bcef0956d822123210136f6c7f849015

[2019-07-11 19:49] chraibi commented on #121
In Gitlab by @zhangjun714 on Sep 29, 2017, 21:04

mentioned in commit 3f4d494e678f40438efc5923fb9882dabfd7d626

[2019-07-11 19:49] #121 closed

[2019-07-11 19:49] chraibi opened #122 "Documentation seeTraj missing"
In Gitlab by @chraibi on Sep 15, 2016, 18:04 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/57)]

the values of

[code]

could be

- "None" (maybe none?)
- a value between 0 and 360
- or "seeTraj"

Please update the documentation to explain the differences and meaning of these options.

[2019-07-11 19:49] chraibi commented on #122
In Gitlab by @chraibi on Dec 17, 2016, 08:20

closed

[2019-07-11 19:49] chraibi commented on #122
In Gitlab by @chraibi on Dec 17, 2016, 08:20

_Original comment by zhang on 21 Sep 2016, 14:05_

---

solved @chraibi

[2019-07-11 19:49] #122 closed

[2019-07-11 19:49] chraibi opened #123 "scripts | txt2txt.py"
In Gitlab by @chraibi on Sep 25, 2017, 17:18 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/63)]

Currently only trajectories files with the unit "cm" are supported.

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Jan 29, 2018, 21:54

for example in txt2txt.py

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @chraibi on Jan 29, 2018, 21:59

assigned to @gjaeger

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @chraibi on Jan 29, 2018, 22:01

changed time estimate to 2d

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Jan 30, 2018, 09:54

changed title from **{-Support unit cm-}** to **{+scripts | txt2txt.py+}**

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Jan 30, 2018, 09:54

changed the description

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Jan 30, 2018, 10:30

https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/commit/cdff542fcfa088bd76ac95cf3d24d2476ef69cb3 : After a short discussion with Jette: It would be better to convert a particular file than all txt-files in a folder. Previously, there was a danger to edit already edited files.

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @chraibi on Jan 30, 2018, 12:55

Yes I think so. Sometimes it can be annoying..

What about we have two options?

- `-f filename`: parse *filename*
- `-p directory`: parse all files in *directory*

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Jan 31, 2018, 11:38

[PeTrack](http://www.fz-juelich.de/ias/jsc/EN/Research/ModellingSimulation/CivilSecurityTraffic/PedestrianDynamics/Activities/petrack/petrackNode.html) offers eleven export options. How do we deal with that?

Files can be very different. We could pass the number and names of columns through a list. Isn't it easier to limit the script to one option and

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @chraibi on Jan 31, 2018, 12:42

What are these 11 options?

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Jan 31, 2018, 12:52

from PeTrack 0.8

![petrack_export_options](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/2cd598644d5abd205903419057ae7ee2/petrack_export_options.png)

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @chraibi on Jan 31, 2018, 12:56

Ok, how do these options influence the resulting trajectory files?
Is then the format different?

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Jan 31, 2018, 13:02

Yes.

For example: experiment [Corridor, unidirectional flow](http://ped.fz-juelich.de/database/#corridor_unidirectional_flow)

This is the first line (*UNI_CORR_500_9.txt*)

`# <number> <frame> <x> [in cm] <y> [in cm] <z> [in cm] <rot> [in rad] <id> <flag>`

We should find out which export options are written to the txt-file.

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @boltes1 on Feb 1, 2018, 17:34

The additional numbers "<rot> [in rad] <id> <flag>" are comming from an extraction programm from Wolfgang Mehner; especially the id is interesting while using the individual information of each person.

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Oct 9, 2018, 21:37

extract from export function in PeTrack:
[code]

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Oct 9, 2018, 21:38

Currently we have the following column names:

**JPScore (txt-file)**
* ID (*person/agent ID*)
* FR (*frame*)
* X (*x-position*)
* Y (*y-position*)
* Z (*z-position*)
* rA (*radius A of elipse*)
* rB (*radius A of elipse*)
* eO (*elipseOrientation*)
* eC (*elipseColor*)

**PeTrack (txt-file)**
* id (*person ID*)
* frame (*frame*)
* x/m (*x-position* - a

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Oct 10, 2018, 07:55

We should add a version of the file specification to the header.

Where can we describe the file specification? On the website [jupedsim.org](http://ped.fz-juelich.de/database/) or [ped.fz-juelich.de/database](http://ped.fz-juelich.de/database/)?

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @chraibi on Apr 6, 2019, 17:58

Sorry, I forgot about this.
We should talk about it next time with the PeTracks colleagues.

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Apr 6, 2019, 18:01

I'm prepared. :smile:

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @boltes1 on Apr 6, 2019, 19:00

eine Vereinheitlichung wird schwer, da je nach Experiment andere Dinge drinstehen; einzig "id, frame, x, y" ist immer gleich und drin;
fuer das Projekt SiME wurden u.a. Kommentare fuer individuelle Eigenschaften hinzugefuegt, die im Kopf der Datei aufgefuehrt sind;
was aber wenigstens fuer die neuen Dateien gewaehrleistet ist ist, dass im Haeder beschri

[2019-07-11 19:50] chraibi commented on #123
In Gitlab by @gjaeger on Apr 8, 2019, 09:16

I can understand your objections.

I extend my suggestion: The development could be considered by versioning the list of column names. This ensures that no column name is used twice. In a documentation you could explain the column name in more detail. The version of the column name and the version of the program should be listed in the header.

Versioni

[2019-07-11 19:51] chraibi commented on #123
In Gitlab by @gjaeger on May 12, 2019, 22:11

some hints for me:

[jpscore - new trajectory format](http://www.jupedsim.org/jpscore/2016-11-03-trajectory#txt) based on issue [jpscore - issue #310](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/issues/310)

[2019-07-11 19:51] chraibi commented on #123
In Gitlab by @gjaeger on May 22, 2019, 10:07

from issue #107:

We need a column name for body height (head height (`AH`) and we should specify the description of the z-position (`z/m`).

[2019-07-11 19:51] chraibi opened #124 "Issue with reading trajectory files"
In Gitlab by @rummeny1 on Feb 22, 2018, 10:08 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/70)]

Hi,

i have an issue with reading in a trajectory file with JPSReport.
Somehow JPSReport thinks, that the trajectories are not continuous because there is one frame more than expected. Changing the trajectory file didn't help, since JPSReport simply adjusts the "actual_total

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @chraibi on Feb 22, 2018, 10:20

assigned to @gjaeger

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @chraibi on Feb 22, 2018, 10:21

changed the description

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @gjaeger on Feb 22, 2018, 22:20

Thanks, I will take a look

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @gjaeger on Feb 23, 2018, 13:51

Problem solved. The negative time was not removed in the function `prt5_savetxt_batch`.

Now it should work with [prt5parser.py](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/075b8983b2c38e6d74f6a10f928732b9/prt5parser.py):

[code]

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @chraibi on Feb 23, 2018, 13:52

Can we have this ptr5parser in the script-folder? Or as in a separate repository..

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @gjaeger on Feb 23, 2018, 13:54

not yet. I want to clean up.

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @rummeny1 on Feb 25, 2018, 17:51

Thanks for the quick answer - with the new prt5parser-file, the negative times are correctly removed.
Unfortunately, the original problem still exists.. I have updated the log and trajectory file for download under the link in my first post.
And again - changing the trajectory file does not help.

Could it be another issue? I see exactly 1180 Frames f

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @chraibi on Feb 25, 2018, 20:33

Sure you are working with the branch develop? This sounds like a familiar old bug, that was already fixed. Please upload the inifile too.

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @gjaeger on Feb 25, 2018, 21:43

Please upload the geometry file too.

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @rummeny1 on Feb 26, 2018, 08:01

Good Morning. I have uploaded both files under the first sciebo link.
I am aware, that the geometry does only cover a small part of the complete simulation but as far as I know JPSReport just writes an INFO Message for Person out of geometry and continues with the calculation.
In case I "reconstructed" the old bug - please discribe what I'm not suppos

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @gjaeger on Feb 26, 2018, 15:04

[A short analysis with jupyter](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/cab0a2d20fa2e879a252dc132d73964f/MT_Rummeny.ipynb)

There is a problem with merging each evacuation mesh in prt5parser.py. There are two z-values at one time step.

Feel free to fix it.

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @chraibi on Feb 27, 2018, 11:07

@rummeny1 any updates on this?

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @rummeny1 on Feb 27, 2018, 13:05

Yes, I also searched the trajectory file in detail and found about 2250 lines with the same time step and ID.
As Gregor already stated, it seems that the parser adds the information for one person from both meshes while they are moving to the other mesh.
So it's not only because of the z-values but because of the transition to another mesh.

Neverthel

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @chraibi on Feb 27, 2018, 13:07

:+1:  So we should close this issue then .. ;-)

[2019-07-11 19:51] chraibi commented on #124
In Gitlab by @rummeny1 on Feb 27, 2018, 13:08

Yes :)

[2019-07-11 19:57] #124 closed

[2019-07-11 19:57] chraibi opened #125 "Executable crashes by initialising Vornoi method"
In Gitlab by @PaulGeoerg on May 15, 2018, 07:15 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/81)]

The new built executable crashes after choosing `<method_D enabled="true">`. I don't know why, It crashes without any further information (screen). The executable is built with VS 2017, branch develop.

I leave the scripts-directory in the .zip. You should customise the pa

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @PaulGeoerg on May 15, 2018, 07:16

changed the description

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @PaulGeoerg on May 15, 2018, 07:16

changed the description

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @chraibi on May 15, 2018, 11:35

Paul,​ please upload a zip with the necessary files.

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @PaulGeoerg on May 15, 2018, 11:38

It is already there...![zip](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/cebb4bea74a5c8fb26c33dd625777dcc/zip.PNG)

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @chraibi on May 15, 2018, 14:59

I did not see it.

But for the log file after the last commit you can now add this

[code]

to your inifile. This will contain most of the log information.
:100:

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @PaulGeoerg on May 16, 2018, 06:54

Hello again,

thanks @Mohcine.

A new day -  another update of the issue to suffer from boredom! So, still errors occur during compilation (see screenshot).

![vs_errors](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/100b6f277ec09905bbaa8ff2c4bacb43/vs_errors.PNG)

`PS C:\Users\Paul Geoerg\workspace\jpsreport> git pull´
`warning: r

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @chraibi on May 16, 2018, 12:15

I see where is the problem. The log.txt is nice.
Fix is coming...

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @PaulGeoerg on May 16, 2018, 14:57

Thanks a lot, Mohcine! Built executable with VS works fine with `v0.8.2-73-ga605388`.

But excecute jpsreport.exe leads to an error by parsing the traj-file (see [log-file](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/41b0fafaac0ca2f386fb8bf9e077faef/log.txt) attached).

 I did not changed the someting at the traj-import... New is

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @chraibi on May 18, 2018, 18:42

Paule: please try with 561ab101

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @PaulGeoerg on May 19, 2018, 06:13

Compiling works fine with VS. Utilising jpsreport runs through all methods without any problems / errors.

But calculation speed for method D is decreased rapidly. What happens here? It takes about 30 min for approx 30 frames (even if the output of voro-cells is set to false).

And by now no status-comment is visible for method D during calculation.

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @chraibi on May 19, 2018, 08:35

The status-comments must be now in the logfile. It would be better to show something on the terminal though.

I don't know why it's so slow. I will check.
(in another issue ;-) )

[2019-07-11 19:57] chraibi commented on #125
In Gitlab by @chraibi on May 19, 2018, 08:35

closed

[2019-07-11 19:57] #125 closed

[2019-07-11 20:00] chraibi opened #126 "Mirrored y-data for profile plotting?"
In Gitlab by @rummeny1 on Feb 27, 2018, 16:59 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/71)]

Hi again,
I am struggeling with the plausibility of my profile plots. While the data seems plausible on the x-axis, the y-axis should be mirrored from my understanding of pedestrian dynamics.. The scenario is still the same as already known.. In the simulation itself, the pe

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @gjaeger on Feb 27, 2018, 17:19

assigned to @gjaeger

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @chraibi on Feb 27, 2018, 17:58

Sounds like[this](https://stackoverflow.com/questions/14320159/matplotlib-imshow-data-rotated#14320227)

could you try the solution suggested in the link and report back?

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @gjaeger on Feb 27, 2018, 18:06

see [_Plot_profiles.py](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/scripts/_Plot_profiles.py), line 80-83 and play with it
[code]

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @chraibi on Feb 27, 2018, 18:09

David can you post a picture of the geometry?

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @rummeny1 on Feb 27, 2018, 19:37

Of course - here is a snapshot from Smokeview.
I will try the tip from Gregor later..
![image](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/0dcae09500d4e20fccefa47967d522c4/image.png)

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @rummeny1 on Feb 27, 2018, 21:41

All right, Gregors tip did work, thanks :)

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @chraibi on Feb 27, 2018, 23:04

did you use `origin='upper'`?

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @gjaeger on Feb 28, 2018, 07:27

Can you post your changes?

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @gjaeger on Feb 28, 2018, 07:35

supplement:
It works with
[code]

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @gjaeger on Feb 28, 2018, 07:37

Should we close the issue?

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @rummeny1 on Feb 28, 2018, 08:46

Yes, I set origin='upper' in lines 81, 112 and 132 since this problem was generally inside all plots.
Now the y-axis is drawn correctly for density, velocity and flow.

[2019-07-11 20:01] chraibi commented on #126
In Gitlab by @rummeny1 on Feb 28, 2018, 08:46

closed

[2019-07-11 20:01] #126 closed

[2019-07-11 20:01] chraibi opened #127 "Method D: velocity calculation"
In Gitlab by @chraibi on Jun 21, 2018, 10:54 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/84)]

In this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/Method_D.cpp#L323) and this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/Method_D.cpp#L336)

the velocity is calculated according to this definit

[2019-07-11 20:01] chraibi commented on #127
In Gitlab by @gjaeger on Jun 21, 2018, 10:58

@JuleAdrian FYI

[2019-07-11 20:01] chraibi commented on #127
In Gitlab by @gjaeger on Jun 28, 2018, 11:19

The calculation of the individual velocity and density seems to depend on the measurement area. The output also seems to be limited to the measurement area.

methods/Method_D.cpp [line 482 ff](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/Method_D.cpp#L482):

[code]

[line 491](https://gitlab.version.fz-juelich.de/jupedsi

[2019-07-11 20:01] chraibi commented on #127
In Gitlab by @chraibi on Jul 25, 2018, 07:43

Of course, it does.

Because the calculations are specific to a geometrical polygon. This area can be e.g. a room.

$`\rho = 1/A_i`$ is the individual density.

[2019-07-11 20:01] chraibi commented on #127
In Gitlab by @gjaeger on Jul 27, 2018, 11:47

The calculation of the velocity also includes agents outside the measurement area, for example (UNI_CORR_500_09, frame 88):

![x-y_plot](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/e08bdd82f57dfda433c868bcb89cf3ca/x-y_plot.png)

This leads to different values at the beginning:

![f-v_plot](/uploads/814bcd2c009d3c6ea512aef5d7f664d0/f

[2019-07-11 20:01] chraibi commented on #127
In Gitlab by @gjaeger on Jul 27, 2018, 11:53

`area(polygon_iterator)` is the original polygon and thus independent of the measurement area. Is that correct?

[2019-07-11 20:01] chraibi commented on #127
In Gitlab by @gjaeger on Jul 27, 2018, 12:23

The modifications can be found in the branch [issue84](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/tree/issue84).

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @chraibi on Jul 27, 2018, 12:34

[code]

This means that the polygon of agent overlaps with the measurement area. It does not assume that the agent itself is *in* the area.

 I don't know how you calculate the blue data in your figure, but I think that the second condition (ped _within_ area) is stronger than the first one (ped _overlaps_ with the area).

I'm not sure which one is cor

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Jul 27, 2018, 13:14

I calculate the blue data for all the agents who overlaps with the measurement area.

[code]

See also [snippet](https://gitlab.version.fz-juelich.de/snippets/40).

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @chraibi on Jul 28, 2018, 04:52

In this [line](https://gitlab.version.fz-juelich.de/snippets/40#L43) you calculate a velocity, which eventually would not be calculated in jpsreport. (because `v.empty()`)

Does this explain why your blue line does not start from 0, as it normally should be?

PS: For readability,​ I edited your code as a snippet. Hope its :cool:

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @chraibi on Jul 28, 2018, 04:53

changed time estimate to 1w

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Jul 30, 2018, 12:22

It's not :cool:. You have to open the script in a new window. This disturbs the reading.

The calculation in [line 43](https://gitlab.version.fz-juelich.de/snippets/40#L43) and [line 58](https://gitlab.version.fz-juelich.de/snippets/40#L58)

[code]

based on [Method_D.cpp, line 323](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/m

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @chraibi on Jul 31, 2018, 04:37

I don't understand your meaning.

Your reimplementation of this part of method D is not accurate in my opinion. method D considers **only** polygons that overlap with the measurement area, while your calculation does not.

Is that correct?

PS: your code is back in the comment as plain text. ;-)

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Jul 31, 2018, 08:37

My implementation also considers only polygons that overlap with the measurement area.

Would you like to see the individual plots?

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @chraibi on Jul 31, 2018, 09:03

show me please the line in the code that considers these..

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Jul 31, 2018, 11:20

There is not _one_ line. In the first step I merge the _individual data_ with the _trajectories_. This dataframe contains only data from agents that come in contact with the measurement area. Then I compare the calculation of the mean velocity of these agents/people:

[code]

![Method_D](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/1

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Jul 31, 2018, 11:44

![plot](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/0731fd273ddf2769153034d74c3df56c/plot.png)

My reimplementation (<span style="color:green">_voronoi velocity_</span> (green line) based on individual data from the folder _/Output/Fundamental_Diagram/Individual_FD_) matches with the classical calculation (<span style="color:red">_c

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Aug 3, 2018, 07:57

After our phonecall: The velocity definition

[code]

[code]

is implemented correctly in method D ([line 312 ff.](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/Method_D.cpp#L312)).

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Aug 3, 2018, 08:42

The question remains whether the definition is correct.

The method calculates the mean velocity as a function of the intersection. Should not the mean velocity of the agents associated with the measurement area be determined?

[code]

This question is illustrated by a _simple example_:

*An agent passes through a measurement area at a constant speed (1

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Sep 13, 2018, 17:43

The files are available [here](https://fz-juelich.sciebo.de/s/vgACRVsrgLqkX3A) (expires on 30.09.2018)

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Sep 14, 2018, 08:23

comment to: https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/84#note_17069

* FDS file: [UNI_CORR_500_09.fds](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/33ae35891f1b1e0fdec9978d9dfb4208/UNI_CORR_500_09.fds)
* trajectories: [traj_UNI_CORR_500_09_0001.txt](/uploads/aea8b1f6fa142796107e5d760c3a789b/traj_UNI_CORR_500_09_0

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @chraibi on Sep 15, 2018, 09:19

I think `method D`, as published in Jun's articles, is indeed different from the "classical" definition you are suggesting here.

However, there is a logic in Jun's definition. In analogy to the density calculation, the speed is a continuous function and not a step function.

 It considers pedestrian's "contribution" to the overall speed (analogy to Vo

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Sep 15, 2018, 11:17

The course of the voronoi velocity relative to the measurement area suggests an acceleration.

Back to the original [question](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/84):

I think, Method D is suitable for considering a steady state. The manual should be supplemented with a note. Also, the limitations should be clearly described

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @chraibi on Sep 18, 2018, 08:55

We can document that this method, although correct, does not fit all cases, especially when the measurement area is big.

Apart from that, any suggestions on​ how we can generalize it?

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Sep 18, 2018, 09:35

I would not say that the method is correct. It has its application limits.

Yes, that's another issue (follows soon).

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Oct 9, 2018, 18:00

Do we want to take the knowledge from issue #87? if yes, how?

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @chraibi on Oct 9, 2018, 18:15

If I may summarise (please correct me, if I forgot something):

- Method D implements the abovementioned formula correctly. So the code is not buggy.
- When to use method D and when not is an important question. I hope it can be discussed in a publication. However, a short notice to warn users can be written in the documentation of [method D](http://www

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Oct 9, 2018, 18:34

For your summary, I have no supplement.

[2019-07-11 20:02] chraibi commented on #127
In Gitlab by @gjaeger on Oct 9, 2018, 18:35

I used the different polygons to improve the method D. For the _develop_ branch, I would reduce the output to the _original polygon_ and the _intersected polygon_.

[2019-07-11 20:03] chraibi commented on #127
In Gitlab by @chraibi on Oct 9, 2018, 18:47

mentioned in commit 4627d35ab1c502a421b1faf744f50797cdf77c08

[2019-07-11 20:03] chraibi commented on #127
In Gitlab by @chraibi on Oct 9, 2018, 18:49

closed via merge request !12

[2019-07-11 20:03] chraibi commented on #127
In Gitlab by @chraibi on Oct 9, 2018, 18:49

closed via commit 4627d35ab1c502a421b1faf744f50797cdf77c08

[2019-07-11 20:03] chraibi commented on #127
In Gitlab by @chraibi on Oct 9, 2018, 18:49

mentioned in commit 3dc868aea0916d7185247da310b20e0c5fac3da6

[2019-07-11 20:03] #127 closed

[2019-07-11 20:03] chraibi opened #128 "Manual: short notice of Method D"
In Gitlab by @gjaeger on Oct 9, 2018, 20:38 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/88)]

issue #87:

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @chraibi on Mar 23, 2019, 00:53

@gjaeger close?

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @gjaeger on Mar 23, 2019, 01:07

@chraibi no

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @chraibi on Mar 23, 2019, 01:11

What's the progress then?

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @gjaeger on Mar 23, 2019, 10:48

short note for editing (for me):

*github*
- https://github.com/JuPedSim/jpsreport/blob/gh-pages/_posts/2016-11-07-method_D.md ([v0.8.3](https://github.com/JuPedSim/JuPedSim/tree/v0.8.3) - Documentation [online](http://jupedsim.org/))
- https://github.com/JuPedSim/JuPedSim.github.io/blob/master/jps_guide/JuPedSim.tex ([v0.8.3](https://github.com/JuPedS

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @gjaeger on Jun 4, 2019, 20:04

Proposal for Modification of Method I based on [documentation (WIP)](https://github.com/gjaeger/jpsreport/blob/gh-pages/_posts/2016-11-01-inifile.md#method-d):

### Method D
For definition see Method D. Method D is used to analyze the steady state.

[code]

Possible parameters are:

- For each `measurement_area`, several id numbers can be set in one ini

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @gjaeger on Jun 4, 2019, 20:25

Proposal for general based on [documentation (WIP)](https://github.com/gjaeger/jpsreport/blob/gh-pages/_posts/2016-11-01-inifile.md#method-d):

### Methods
Five different methods `method_A` to `method_D` and `Method_I` are integrated in the current
  version of `JPSreport` and can be chosen for the analysis. `Method_I` can use for time-series analysis o

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @gjaeger on Jun 11, 2019, 13:12

A few images (based on [Bodenstein 2015](https://www.asim.uni-wuppertal.de/fileadmin/bauing/asim/Thesen/Masterthesis_Bodenstein.compressed.pdf)) for [documentation (WIP)](https://gjaeger.github.io/jpsreport/2016-11-01-inifile) of Method A to D:

_Method A_
![jpsreport_Method_A](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/9c21e8d7ac4

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @gjaeger on Jun 14, 2019, 00:15

@chraibi see [Pull request](https://github.com/JuPedSim/jpsreport/pull/1) at github :smile:

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @gjaeger on Jun 14, 2019, 15:39

closed after [pull request](https://github.com/JuPedSim/jpsreport/pull/1) at github.

[2019-07-11 20:03] chraibi commented on #128
In Gitlab by @gjaeger on Jun 14, 2019, 15:39

closed

[2019-07-11 20:03] #128 closed

[2019-07-11 20:03] chraibi opened #129 "Method A, B, D, I | remove plot option"
In Gitlab by @gjaeger on Oct 9, 2018, 21:12 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/89)]

idea for alternative python functions [string to array](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/87#note_18341) in issue #87

* previous plot script (e.g. [_Plot_cell_rho.py](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/scripts/_Pl

[2019-07-11 20:03] chraibi commented on #129
In Gitlab by @gjaeger on Oct 9, 2018, 21:12

changed the description

[2019-07-11 20:03] chraibi commented on #129
In Gitlab by @chraibi on Nov 11, 2018, 10:37

I would update the scripts and use this function instead.
The function is generalised as shown in the following file.

(considers integers too)

[str_to_array.ipynb](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/03c41701d1503cfcc17ca3e7ff53e762/str_to_array.ipynb)

[2019-07-11 20:04] chraibi commented on #129
In Gitlab by @gjaeger on Nov 11, 2018, 10:54

You have added an error handling to the function `str_to_array(p)`?

[code]

The issue is on my list.

[2019-07-11 20:04] chraibi commented on #129
In Gitlab by @chraibi on Nov 11, 2018, 12:48

Yes, error handling, but most importantly the pattern `pat` changed.

Before it detects numbers like `1.3` and ignores numbers like `13`.

The new pattern considers both cases.

[2019-07-11 20:04] chraibi commented on #129
In Gitlab by @gjaeger on Nov 11, 2018, 12:54

thanks. For me to remember:

*old*:
[code]

*new*:
[code]

[2019-07-11 20:04] chraibi commented on #129
In Gitlab by @gjaeger on Nov 19, 2018, 09:21

idea (snippet):
[code]

[2019-07-11 20:04] chraibi opened #130 "Method A-D, I | test case"
In Gitlab by @gjaeger on Mar 7, 2019, 08:53 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/102)]

test case for method A-D and I

[2019-07-11 20:04] chraibi commented on #130
In Gitlab by @gjaeger on Mar 23, 2019, 10:22

notes for a quick reminder:
- issue #9 - **Make Utest** - CDash like
- issue #11 - **Add test FD** - Compare the FD of jpsreport with a reference result file
- issue #58 - **Write unit test** - Write a python script that reproduces Figures **5** and **6** in [Transitions in pedestrian fundamental diagrams of straight corridors and T-junctions](http://j

[2019-07-11 20:04] chraibi commented on #130
In Gitlab by @chraibi on Mar 23, 2019, 16:04

CDash is a system we don't use anymore. It has been replaced by Gitlab's CI.

For the rest, I would suggest to make a directory for each of them:

[code]

[2019-07-11 20:04] chraibi commented on #130
In Gitlab by @gjaeger on Mar 25, 2019, 08:21

notes (for me):

*gitlab_ci.yml*:
- [GitLab CI/CD Pipeline Configuration Reference](https://docs.gitlab.com/ee/ci/yaml/)

example:
[code]

*structure*:
- see folder [Utest](https://gitlab.version.fz-juelich.de/jupedsim/jpscore/tree/develop/Utest) in jpscore

[2019-07-11 20:04] chraibi commented on #130
In Gitlab by @gjaeger on Mar 25, 2019, 08:21

changed due date to March 28, 2019

[2019-07-11 20:04] chraibi commented on #130
In Gitlab by @gjaeger on Apr 1, 2019, 09:48

changed due date to April 05, 2019

[2019-07-11 20:04] chraibi commented on #130
In Gitlab by @gjaeger on Jun 5, 2019, 10:25

The geometry: [geo_Uebung_02.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/6b92fdc8e2a3e90a66a31f91ef634df2/geo_Uebung_02.xml)

![Raum_02b_oc](/uploads/fbaebb128e14ea578bbf36de02518d50/Raum_02b_oc.png)

The trajectory file: [traj_Uebung_02b.txt](/uploads/d9132ff4db77b58df1bdd01caf4c428b/traj_Uebung_02b.txt)

*measurement area for

[2019-07-11 20:04] chraibi commented on #130
In Gitlab by @gjaeger on Jun 5, 2019, 10:47

WIP: new branch [102-Utest](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/tree/102-Utest)

[2019-07-11 20:04] chraibi opened #131 "Manual | Method I"
In Gitlab by @gjaeger on Apr 3, 2019, 14:48 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/105)]

Description of Method I

[2019-07-11 20:04] chraibi commented on #131
In Gitlab by @gjaeger on Apr 3, 2019, 14:48

changed the description

[2019-07-11 20:04] chraibi commented on #131
In Gitlab by @gjaeger on Jun 4, 2019, 20:01

Proposal for Modification of Method I based on [documentation (WIP)](https://github.com/gjaeger/jpsreport/blob/gh-pages/_posts/2016-11-01-inifile.md#method-i):

### Method I

Method I use the definition of Method D. For definition see Method D. Method I can use for time-series analysis of individual data.

[code]

Possible parameters are:

- For each `m

[2019-07-11 20:04] chraibi commented on #131
In Gitlab by @gjaeger on Jun 5, 2019, 09:52

As a reminder (see [note in issue #107](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/107#note_30321))

[2019-07-11 20:04] chraibi commented on #131
In Gitlab by @gjaeger on Jun 14, 2019, 00:16

@chraibi see [Pull request](https://github.com/JuPedSim/jpsreport/pull/1) at github :smile:

[2019-07-11 20:04] chraibi commented on #131
In Gitlab by @gjaeger on Jun 14, 2019, 15:38

closed after [pull request](https://github.com/JuPedSim/jpsreport/pull/1) at github.

[2019-07-11 20:04] chraibi commented on #131
In Gitlab by @gjaeger on Jun 14, 2019, 15:38

closed

[2019-07-11 20:05] #131 closed

[2019-07-11 20:05] chraibi opened #132 "Method I | IndividualFD - zPos"
In Gitlab by @gjaeger on May 16, 2019, 07:55 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/107)]

The data of each pedestrian *i* (ID, position, voronoi density and velocity and voronoi polygon) are written to the IndividualFD file (see [line 250 in Method_I.cpp](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/develop/methods/Method_I.cpp#L250)). The informa

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @gjaeger on May 16, 2019, 15:46

@chraibi

based on our conversation today, see branch [107_Method_I_zPos](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/commits/107_Method_I_zPos)

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @chraibi on May 17, 2019, 14:21

Could you describe here what exactly is the missing feature?

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @gjaeger on May 20, 2019, 07:53

changed the description

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @gjaeger on May 20, 2019, 07:53

I have completed the description.

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @gjaeger on May 22, 2019, 09:55

An example for the z-position (`z` for the measurement area and `z` of the pedestrian):

[geo_RiMEA_Stau.xml](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/542a33c980505d5e91b7ad0c6aa0a03e/geo_RiMEA_Stau.xml)

[ini_RiMEA_Stau_01A.xml](/uploads/b66cefb25a64f367bf65887f125c6a1f/ini_RiMEA_Stau_01A.xml)

[traj_AH_RiMEA_Stau_01.txt](/uploa

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @gjaeger on May 23, 2019, 10:18

I found a bug.

The z-position of the agents is 1.2 m (see [traj-file](https://gitlab.version.fz-juelich.de/jupedsim/jpsreporthttps://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/c7ea7b16f5fa5069f6362825a7f0ee80/traj_AH_RiMEA_Stau_01.txt)).

When I change the `z`-position of the measurement area (e.g. `zPos="1.0"`):
[code]

If there are no p

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @chraibi on May 23, 2019, 11:47

The bug is in this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/107_Method_I_zPos/methods/Method_I.cpp#L170)

[code]
which leads to a Segfault because `XInFrame.size()==0` (no pedestrians in that frame).

As a possible fix, I think after this [line](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/blob/107_Method_I_zPos/me

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @chraibi on May 23, 2019, 12:44

mentioned in commit bde33508c932ebe91c0c2fdef642206730632d23

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @gjaeger on May 28, 2019, 08:31

It works.

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @gjaeger on Jun 5, 2019, 09:53

@chraibi We can close this issue.

[2019-07-11 20:05] chraibi commented on #132
In Gitlab by @gjaeger on Jun 7, 2019, 14:24

closed

[2019-07-11 20:05] #132 closed

[2019-07-11 20:05] chraibi opened #133 "Err: The trajectory of ped with ID <1> is not continuous. Please modify the trajectory file!"
In Gitlab by @AKRay93 on Jun 19, 2019, 13:32 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/110)]

## Summary
Windows 10, PowerShell

[code]

JPSreport does not finish the analysis because "The trajectory of ped with ID <1> is not continuous.". The same error occurs for all IDs.
The error does not occur for a trajectory file from the demo folder of JuPedSim with the same

[2019-07-11 20:05] chraibi commented on #133
In Gitlab by @AKRay93 on Jun 19, 2019, 13:32

changed the description

[2019-07-11 20:05] chraibi commented on #133
In Gitlab by @AKRay93 on Jun 19, 2019, 13:36

changed the description

[2019-07-11 20:05] chraibi commented on #133
In Gitlab by @AKRay93 on Jun 19, 2019, 13:39

changed the description

[2019-07-11 20:05] chraibi commented on #133
In Gitlab by @AKRay93 on Jun 19, 2019, 13:51

If I leave out some things in the header of the file and use this trajectory file
[traj_100_N25_h0_R2_test.txt](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/b63b62c13b3bf032df44c3581d295d17/traj_100_N25_h0_R2_test.txt)
it doesn't produce the error (see Screenshot 2) but still doesn't produce any output.

Screenshot 2: ![PowerShell_JP

[2019-07-11 20:05] chraibi commented on #133
In Gitlab by @chraibi on Jun 19, 2019, 14:22

changed the description

[2019-07-11 20:05] chraibi commented on #133
In Gitlab by @chraibi on Jun 19, 2019, 14:52

Kathi, could be you are using an old version?

Please show a screenshot like this (just type `jpsreport` without inifile)

![](https://www.dropbox.com/s/wbgsfiv2nete1b7/Screenshot%202019-06-19%2014.45.45.png?dl=1)

For me, the analysis works fine. Here is the log. [log.txt](https://gitlab.version.fz-juelich.de/JuPedSim/jpsreport/uploads/30939c5f5ff07d5

[2019-07-11 20:06] chraibi commented on #133
In Gitlab by @chraibi on Jun 19, 2019, 15:00

assigned to @gjaeger

[2019-07-11 20:06] chraibi commented on #133
In Gitlab by @gjaeger on Jun 19, 2019, 15:55

@AKRay93 Can you upload the log-file (e.g. log.txt)?

[2019-07-11 20:34] chraibi opened #134 "Master develop - [merged]"
In Gitlab by @chraibi on Oct 13, 2017, 16:43 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/2)]

_Merges master_develop -> master_

[2019-07-11 20:34] chraibi commented on #134
In Gitlab by @chraibi on Oct 13, 2017, 16:44

merged

[2019-07-11 20:34] chraibi commented on #134
In Gitlab by @chraibi on Oct 13, 2017, 16:44

mentioned in commit d4d4cc86ac449a2d7fabdbbe337321afcafe8dab

[2019-07-11 20:34] #134 closed

[2019-07-11 20:34] chraibi opened #135 "WIP: Resolve "git branch, revision, date and compile information" - [closed]"
In Gitlab by @chraibi on May 14, 2018, 13:22 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/6)]

_Merges 79-git-branch-revision-date-and-compile-information -> develop_

Closes #79

[2019-07-11 20:34] chraibi commented on #135
In Gitlab by @chraibi on May 14, 2018, 13:40

closed

[2019-07-11 20:34] #135 closed

[2019-07-11 20:34] chraibi opened #136 "WIP: Resolve "Output folder | alternative location and name" - [closed]"
In Gitlab by @chraibi on Nov 9, 2018, 18:56 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/13)]

_Merges 91-output-folder-alternative-location-and-name -> develop_

Closes #91

[2019-07-11 20:34] chraibi commented on #136
In Gitlab by @chraibi on Nov 9, 2018, 18:57

assigned to @chraibi

[2019-07-11 20:34] chraibi commented on #136
In Gitlab by @chraibi on Nov 9, 2018, 19:03

usage:

[code]

- todo: test it
- todo: use `fs::path` instead of `string` for path operations. !10

[2019-07-11 20:34] chraibi commented on #136
In Gitlab by @gjaeger on Nov 9, 2018, 19:06

I'm checking it right now.

[2019-07-11 20:35] chraibi commented on #136
In Gitlab by @gjaeger on Nov 9, 2018, 20:10

see [comment](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/91#note_24511) in #91

[2019-07-11 20:35] chraibi commented on #136
In Gitlab by @chraibi on Nov 11, 2018, 07:46

this MR is going to be replaced by !10.

[2019-07-11 20:35] chraibi commented on #136
In Gitlab by @chraibi on Nov 11, 2018, 07:46

closed

[2019-07-11 20:35] #136 closed

[2019-07-11 20:35] chraibi opened #137 "Method D and I modifications - [merged]"
In Gitlab by @gjaeger on Jun 13, 2019, 23:26 [[origin](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/merge_requests/20)]

_Merges issue108 -> develop_

solution for issue #108, modifications for issue #105 and #88

[2019-07-11 20:35] chraibi commented on #137
In Gitlab by @chraibi on Jun 19, 2019, 14:57

unmarked as a **Work In Progress**

[2019-07-11 20:35] chraibi commented on #137
In Gitlab by @chraibi on Jun 19, 2019, 14:59

Did you test this with method D and method I at the same time?

[2019-07-11 20:35] chraibi commented on #137
In Gitlab by @gjaeger on Jun 19, 2019, 15:36

yes, it works (see [comment](https://gitlab.version.fz-juelich.de/jupedsim/jpsreport/issues/108#note_30938), issue #108).

[2019-07-11 20:35] chraibi commented on #137
In Gitlab by @chraibi on Jun 19, 2019, 16:03

merged

[2019-07-11 20:35] chraibi commented on #137
In Gitlab by @chraibi on Jun 19, 2019, 16:03

mentioned in commit 256fcad6e6662475dcf5ec54dfe11cbc252ef9d6

[2019-07-11 20:35] #137 closed

[2019-07-12 18:09] gjaeger commented on #37
This is to be considered in issue #130

[2019-07-16 11:50] gjaeger opened #139 "external files"
Outsource some configurations from inifile to external xml files:
- measurement area

[2019-07-17 02:35] #37 closed

[2019-07-21 07:21] gjaeger opened #141 "update xsd information"
based on [JuPedSim/jpscore issue 437](https://github.com/JuPedSim/jpscore/issues/437):

In the `xml` files (ini and geo) there is information pointing to the appropriate `xsd` scheme.

This information is outdated and needs update.

From
[code]
to
[code]

Helpful with validation of xml files e.g. with online validators.

[2019-07-22 05:18] gjaeger commented on #133
@AKRay93 What's the status?

[2019-07-22 06:08] gjaeger commented on #68
@anna-braun What's the status?

[2019-07-22 06:54] gjaeger commented on #72
@rudinamsubaih What's the status?

[2019-07-22 18:23] anna-braun commented on #68
I guess it still does not work with huge trajectories. We solved the problem by splitting the trajectory-file every 10 MB (in jpscore).

[2019-07-22 18:36] gjaeger commented on #68
@anna-braun Can we close the issue?

[2019-07-23 01:13] chraibi commented on #68
No, please keep it open.
`jpsreport` reads all the file at once, which is not good for big files of several GB.

[2019-07-23 04:17] gjaeger commented on #68
@anna-braun @chraibi: Which steps are planned? What suggestions are there to edit the issue?

[2019-07-23 04:19] chraibi commented on #68
I thought that a big trajectory should be read chunk-wise, not at once.

Some think like [this](https://stackoverflow.com/questions/34751873/how-to-read-huge-file-in-c).

[2019-07-23 04:29] gjaeger commented on #68
Sounds good. Who has capacity?

Can we realize this for version 8.4?

[2019-07-23 06:17] chraibi commented on #68
Probably, not. It depends on our capacity (I can't right now) and if its accute.

[2019-07-23 06:30] gjaeger commented on #50
solved with pull request #142.

[2019-07-23 06:30] #50 closed

[2019-07-26 14:46] AKRay93 commented on #133
 
I will update when I retried it with a new version installed on a linux virtual box!

Gesendet: Montag, 22. Juli 2019 um 07:18 Uhr
Von: "Gregor Jäger" <notifications@github.com>
An: JuPedSim/jpsreport <jpsreport@noreply.github.com>
Cc: AKRay93 <a-k.raytarowski@gmx.de>, Mention <mention@noreply.github.com>
Betreff: Re: [JuPedSim/jpsreport] Err: The trajectory of ped with ID <1> is not continuous.

[2019-08-09 11:55] gintama1227 opened #143 "Windows.: "Cannot open include file: "boost/polygon/xxx.hpp""
**JuPedSim - JPSreport**

- Current date   :2019/8/9
- Version        :v0.8.4
- Compiler       :MSVC 19.15.26726.0
- Commit hash    :
- Commit date    :
- Branch         :
- Python         :

**Describe the bug**
When I built jpsreport in visual studio 2017 in Windows, there are some errors. "Cannot open include file: "boost/polygon/xxx.hpp". However, I have added boost in the project.
Other synta

[2019-08-09 12:06] gjaeger commented on #143
Do you read the documentation?
- [Quick Start](http://www.jupedsim.org/jpsreport/2016-11-01-quickstart)
- [Requirements](http://www.jupedsim.org/jpsreport/2016-11-03-requirements.html)
- [boost | Getting Started on Windows](https://www.boost.org/doc/libs/1_65_1/more/getting_started/windows.html)

[2019-08-10 11:28] gintama1227 commented on #143
I read the documents. However, I use windows. So I read the turtorial of windows for jpscore. http://www.jupedsim.org/jpscore/2018-10-21-windows
I follow the steps. I skip
![image](https://user-images.githubusercontent.com/34682823/62821264-e145f600-bba4-11e9-82e0-8a4b48978c9b.png) this step. And the next step "Updata-Package -reinstall -ProjectName JPSreport" succeed. See the screenshot.
![image]